[2019-07-31 15:44] brentru opened #4 "Add Parse_Headers Method"
Add method for parsing the header portion of an HTTP request/response from the socket.

Previous implementation in ESP32SPI_Requests module:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/c15e8fd9c0e53bb7e0ee2f1dd105cc09a7e70b7d/adafruit_esp32spi/adafruit_esp32spi_requests.py#L223

Affects ESP32SPI WSGI Server: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/issues/62

[2019-07-31 17:31] siddacious commented on #4
fixed via PR #5

[2019-07-31 17:31] #4 closed

[2019-07-31 17:38] siddacious opened #6 "`request` should be refactored to use `parse_headers`"
When this lib was split out from `Adafruit_CircuitPython_ESP32SPI` `parse_headers` was inlined into the `request` method. Since it was added back for external use, it should be used here as well.

[2019-07-31 17:38] siddacious commented on #6
(sorry @brentru I should have mentioned this in the review for `parse_headers`. I can take care of this later)

[2019-07-31 17:51] brentru commented on #6
@siddacious
Could you link a previous version of how it was inlined into the `request` method? Seems its a standalone method, this is the last commit of it before it was removed:
https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/8dbeef02125e4f27d49fe468d78912afc366a200/adafruit_esp32spi/adafruit_esp32spi_requests.py

Do you think it's useful externally too, or only within `request`?

[2019-08-01 03:59] siddacious commented on #6
Here is the section in question:
https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/f77d71377125a023d5cecdc72d541cd8ba97b104/adafruit_requests.py#L227

It's used externally in the wsgi server code in the Esp32 lib so yes it's useful externally? They're using them for different sides of the server/client divide (parsing headers for an incoming request vs. parsing the response to an ou

[2019-08-08 13:20] brentru commented on #6
Merged into master and released, closing...

[2019-08-08 13:20] #6 closed

[2019-09-06 20:07] jerryneedell opened #10 "possible CPython incompatibility"
Just for fun , I tried hooking an airlift breakout to a Raspberry Pi Zero.

I then tried running the esp32spi_simpletest.py and ran into an error in requests.

Note -- I realize requests has not be released to PyPI -- I just put adafruit_requests.py in the local folder for this test.

The Aiflift seems to be working fine but the error seems to be a potential Cpython incompatibility in adafruit_req

[2019-09-07 11:41] jerryneedell commented on #10
this minor change too adafruit_request.py seems to work both on the RPi and on a metro_m4_airlift.
I'll do a bit more testing before submitting a PR.

[code]

[2019-09-07 18:04] #10 closed

[2019-10-20 09:22] robmarkcole opened #14 "AttributeError: 'socket' object has no attribute 'send'"
Release 20191019 with `adafruit_requests.py` copied to the Metro M4 Express AirLift (WiFi)
Using [this example](https://learn.adafruit.com/adafruit-pyportal/internet-connect#connect-to-wifi-17-4) I get the error:
[code]

Duplicate of https://github.com/adafruit/Adafruit_CircuitPython_Bundle/issues/203

[2019-11-28 17:50] dansteingart commented on #14
same error. Is there anything else known before the thanksgiving yakshave begins?

[2019-11-28 18:26] jerryneedell commented on #14
I just ran the esp32spi_simpletest on Metro  M4 Airlift. I have CP5.0-Beta installed and the latest libraries from the "bundle"  -- have you tried updating all the libraries? What version of CP are you running?

[2019-11-29 01:53] dansteingart commented on #14
I'm running 4.1 "stable" and accompanying libraries. Will give that a shot. Thx.

[2019-11-29 03:40] jerryneedell commented on #14
I also ran it with 4.10. Make sure you have the latest libraries.
[code]

[2019-11-29 07:05] robmarkcole commented on #14
Problem persists on `5.0.0-beta.0 `

[2019-11-29 09:57] jerryneedell commented on #14
Have you updated the libraries ?

[2019-11-30 06:00] robmarkcole commented on #14
HI @jerryneedell
I've updated the bundle to `20191019` tag and the issue is now resolved. Many thanks!

However I do get a variety of error codes relating to dropped connection or incomplete data unless the devices is very close to the router, is this normal?

[2019-11-30 06:54] #14 closed

[2019-12-02 14:32] brentru commented on #14
@robmarkcole

I haven't experienced this with a Metro M4 AirLift before. Do you have any examples of these error codes? If so, could you open a new issue and tag me. I'll check it out. Thanks!

[2020-03-02 15:03] jimbobbennett opened #20 "TypeError: wrong number of arguments when posting bytes array"
I have a `bytearray` containing image data from the [TTL camera sample](https://github.com/adafruit/Adafruit_CircuitPython_VC0706/blob/master/examples/vc0706_snapshot_filesystem.py). I want to POST this as an octet stream to a REST endpoint.

My code:

[code]

When I run this I get the following:

[code]

Running the code locally I've tracked down the error to this line:

[code]

If I change the c

[2020-03-02 15:07] jimbobbennett commented on #20
PR #21 raised to remove this parameter, if this is the correct fix

[2020-03-02 15:20] FoamyGuy commented on #20
Odd, I am able to run this at REPL and don't get the same error.
[code]

[2020-03-02 15:22] jimbobbennett commented on #20
@FoamyGuy - I think it is because it is a `bytesarray`.

Just tested in the REPL:

[code]

[2020-03-02 15:22] FoamyGuy commented on #20
Looks like possible the issue is more related to the bytearray than the encoding param I use a bytebuffer instead of a string it reports the error:
[code]

[2020-03-02 15:25] FoamyGuy commented on #20
This does not appear to be possible in CPython 3.7 either though the error is different than CircuitPython:
[code]

[2020-03-02 15:27] jimbobbennett commented on #20
I've changed my PR to check the type, and not pass the encoding for `bytearray`, but keep it for other types.

[2020-03-05 23:12] #20 closed

[2020-03-24 19:54] amotl opened #25 "Error condition when the connection will be closed by the server while reading the response"
Dear people of Adafruit,

thanks a bunch for taking over from `urequests` and giving that baseline implementation so much love within your `Adafruit_CircuitPython_Requests` module. We are about to switch over to your implementation within our [Terkin Datalogger](https://github.com/hiveeyes/terkin-datalogger).

It came to our attention that the baseline implementation might suffer from a minor issu

[2020-03-24 20:07] amotl commented on #25
When looking at the implementation of the `Response.close()` method [1], we can see it deviates from the original implementation [2] by adding a `gc.collect()` just before returning.

To make the GC actually free heap memory, you probably also added `del self.socket` and `del self._cached` beforehand. However, these will also remove the instance attributes completely, so this will lead to other pr

[2020-03-24 20:20] amotl commented on #10
Hi there,

thank you for caring about compatibility with CPython.

We just ran into the same issue when still using the original [`urequests`](https://github.com/micropython/micropython-lib/blob/master/urequests/urequests.py) module while trying to implement a CPython-based test harness for our [Terkin Datalogger](https://github.com/hiveeyes/terkin-datalogger).

[code]

So, we are considering to s

[2020-03-24 20:40] tannewt commented on #25
Hi @amotl! Please make a pull request with your suggested changes. This code is relatively new and evolving so we're happy to merge them in. Let us know if you need help getting it going.

[2020-03-25 17:30] amotl commented on #25
Dear Scott,

thanks for your quick answer.

We have not been able to make this switchover yet. In the meanwhile, we fixed the `uurequests` module of Pycopy to suite our needs, see https://github.com/daq-tools/pycopy-lib/commit/89cad7d9 as a reference for that.

As soon as we might be going towards using `Adafruit_CircuitPython_Requests`, we will be happy to submit an appropriate pull request.

Wit

[2020-05-13 17:39] brentru opened #28 "Requests with CPython Native Socket"
The CircuitPython_Requests module is currently untested with [CPython's socket low-level interface](https://docs.python.org/3/library/socket.html).

A new requests_simpletest example would need to be added, too.
* https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/master/examples/requests_simpletest.py

After updating for the CPython native socket, we may need to update ESP32, Ethern

[2020-05-14 18:11] tannewt commented on #28
Furthermore, it should always use the `recv*_into` forms for receive to minimize memory allocations. (The others create new byte arrays to return.)

[2020-07-01 00:43] tannewt commented on #28
I'm working on this.

[2020-09-14 23:47] #28 closed

[2020-09-18 14:53] anecdata opened #32 "Requests in CircuitPython Library Bundle 5.x-mpy-20200918 seems incompatible with CircuitPython 5.3.1"
Requests work here:
Adafruit Feather M4 Express with samd51j19
CircuitPython 5.3.1 on 2020-07-13
CircuitPython Library Bundle 5.x-mpy-20200917

But not here:
Adafruit Feather M4 Express with samd51j19
CircuitPython 5.3.1 on 2020-07-13
CircuitPython Library Bundle 5.x-mpy-20200918

[code]

Seems to be this 6.0.0-alpha change:
`Add .find, .rfind, .index and .rindex to bytearray for CPython-compatibl

[2020-09-18 18:22] tannewt commented on #32
Well bummer! I thought I had checked it all. *BUT* I hadn't tried 5.3.1. I'll look at hacking this to work.

[2020-09-18 20:44] anecdata commented on #32
Sorry, I meant to test it sooner but didn't get to it.

I'll wait for the beta to drill down on this next one (if it's still happening), but new Requests may be doing something funny with ESP32SPI in alpha-3. Every other GET in my code fails quickly (tens of milliseconds) with `Failed to send 281 bytes (sent 0)`, then after about two hours , all subsequent requests get `No sockets available`.  Rev

[2020-09-19 00:30] tannewt commented on #32
@anecdata that sounds like a separate issue. I don't think I handle connections timing out well so that's likely the issue.

[2020-09-19 18:18] anecdata opened #34 ""failed to send" & "No sockets available" exceptions with transfer-encoding:chunked using 20200918 Requests"
This does seem to be a distinct issue. The typical simpletest URLs all have a `content-length` header, but with a URL using `{'transfer-encoding': 'chunked'}` header in the legacy API, Requests will get `Failed to send {num} bytes (sent 0)` every other time (alternating), and on the 21st loop will get `No sockets available` thereafter.

`CONFIG_LWIP_MAX_SOCKETS=10` in [https://github.com/adafruit/

[2020-09-19 22:52] kevinaj opened #35 "Host cannot be an IP address"
Using an IP address as a host results in an attempt to resolve the IP address via DNS.

src:
[code]

output:
[code]

[2020-09-19 23:24] kevinaj commented on #35
Looking further, it's possible this is a wiznet5k issue. Requests defers the entire host portion of the URL to the socket for resolution:
[code]
Ultimately this falls all the way through `adafruit_wiznet5k_socket.getaddrinfo()`, `adafruit_wiznet5k.get_host_by_name()`, and finally `adafruit_wiznet5k_dns.gethostbyname()`. At no point is there any check to see if the host is an IP and not a name.

[2020-09-20 02:33] kevinaj commented on #35
Solved this with https://github.com/adafruit/Adafruit_CircuitPython_Wiznet5k/pull/23

[2020-09-20 02:33] #35 closed

[2020-09-22 18:16] #32 closed

[2020-09-22 20:23] axelmagnus commented on #32
Work around from discord:
 everything 6.0.0 (beta) but revert to 1.6.0?
https://github.com/adafruit/Adafruit_CircuitPython_Requests/releases/tag/1.6.0 (would be from adafruit-circuitpython-bundle-6.x-mpy-20200917) .

[2020-09-22 20:41] tannewt commented on #34
@anecdata could you post the full example minus your wifi credentials? I'm not sure what your chunked url example is.

[2020-09-22 20:57] anecdata commented on #34
I had to make my own since it's hard to find one with a search engine. This one will return chunked to HTTP/1.1 request:
[https://anecdata.dev/ada/chunked/](https://anecdata.dev/ada/chunked/)

[2020-09-28 17:17] anecdata commented on #34
Adafruit PyPortal with samd51j20
6.0.0-beta.0 on 2020-09-21
adafruit-circuitpython-bundle-6.x-mpy-20200925  # latest released Requests

There's another chunked behavior that I didn't see until running for a longer time:
[code]
It does this even with code that resets the ESP32 and re-connects to the AP prior to every request. After some iterations, `invalid syntax for integer with base 16` occurs,

[2020-09-28 21:20] tannewt commented on #34
@anecdata can you modify requests to print out the string it's trying to parse? That may give us a clue.

[2020-09-28 23:16] anecdata commented on #34
`bytearray(b'')`

I think it may be the `RuntimeError: Timed out waiting for SPI char` that kicks off this behavior... can't close the `_last_response` since it wasn't successful? Not clear how it then sticks in this mode.

[2020-09-29 22:03] tannewt commented on #34
@anecdata sounds like it's just not handling the socket being closed when trying to close it. :-)

[2020-10-02 22:01] axelmagnus opened #37 "syntax error in JSON when using adafruit_io for fetching data from AIO"
Well, i was recommended by Brent to file this here as well.
Im tryin to display my AIO data on a pyportal.

Adafruit PyPortal with samd51j20
adafruit-circuitpython-bundle-6.x-mpy-20200925
also tried request v 1.6.0.

Please see
https://forums.adafruit.com/viewtopic.php?f=56&t=170049&p=831555
for code and experiences. (i cant get the formatting to work)

Auto-reload is on. Simply save files over US

[2020-10-04 17:54] zvxr opened #38 "Support responses without Content-Length"
Unfortunately HUE light hubs do not return HTTP responses with the `Content-Length` header (!!)

`Response._remaining` is based on Content-Length header. This inits with `Nonetype` value which causes comparison issues:

[code]

Even when coercing or defaulting `Response._remaining` to zero instead, I think all methods now use `Response._remaining` so the actual content is never readable or drained

[2020-10-05 18:19] makermelissa opened #39 "Version 1.7.x breaks use with MatrixPortal projects because it can't read JSON"
When trying out the OpenWeather Demo (https://learn.adafruit.com/weather-display-matrix/code-the-weather-display-matrix), it works as expected with version 1.6.0 and breaks when updating to 1.7.x.

The lines I noticed related to the error that keep repeating:
[code]

[2020-10-05 19:02] makermelissa commented on #39
Ok, I looked into this. The issue is we are grabbing request.text and then request.json() and this causes the error. I'll update the MatrixPortal library to not do this.

[2020-10-05 19:16] makermelissa commented on #39
This issue likely affects Adafruit_CircuitPython_PyPortal and possibly Adafruit_Blinka_PyPortal as well.

[2020-10-05 19:45] tannewt commented on #39
I did this to avoid holding onto the full string memory between the text call and the json call.

[2020-10-05 19:54] tannewt commented on #38
@zvxr What are the headers returned by HUE? Is it a chunked response?

[2020-10-05 20:16] makermelissa commented on #39
That's fine. It was a clear enough message that I figured it out pretty quickly. I would have probably released it as 2.0.0 though. :)

[2020-10-05 20:54] zvxr commented on #38
@tannewt   raw response:
[code]

[2020-10-06 23:34] tannewt commented on #38
https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4 Ok, looks like a bug on my part with HTTP1.1.

[2020-10-06 23:48] tannewt commented on #39
@makermelissa Ya, fair. I was trying my best to be backwards compatible and maybe I was too optimistic. :-)

[2020-10-06 23:52] makermelissa commented on #39
No problem. I have updated the Portal libraries and am unaware of any others this change affects, so closing.

[2020-10-06 23:52] #39 closed

[2020-10-07 14:31] brentru commented on #37
This issue may be related to https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/39, looking into this in a bit...

[2020-10-09 16:36] makermelissa opened #40 "Breaking change in 1.7.0: Header keys are now capitalized"
I noticed between 1.6.0 and 1.7.0, headers such as headers['content-length'] are not headers['Content-Length'], so anything that uses the head keys will need to be updated.

This issue is more of a breaking change alert due to the removal of this line:
[code]
in https://github.com/adafruit/Adafruit_CircuitPython_Requests/pull/31/

I'm not sure if we want to put it back or just slowly change everyt

[2020-10-09 17:14] tannewt commented on #40
Looks like regular requests is case-insensitive: https://requests.readthedocs.io/en/master/user/quickstart/#response-headers

Maybe we need a wrapper object to do it that way. I removed the title.lower() because it allocates a second copy of the string when one already exists.

[2020-10-09 17:21] makermelissa commented on #40
We could have added .lower() onto the title as it is put into the dict. To handle the differences in the PyPortal, I submitted a PR that creates a new dict and just copies the headers with lower case. This way both older and newer versions of this library should work with it.

[2020-10-09 17:23] makermelissa commented on #40
By wrapper object, are you suggesting adding a function like get_header() that would accept lowercase and uppercase or maybe a property that lowercases it on the fly or something else?

[2020-10-09 18:15] dhalbert commented on #40
Regular `requests` has a `CaseInsensitiveDict` class for exactly this reason:
https://github.com/psf/requests/blob/3bb13f8fbb9d4ed1a20bd33495cdc087eb062ca0/requests/structures.py#L37

[2020-10-09 20:12] makermelissa opened #41 "request.get isn't working in 1.7.x"
I'm not sure of the exact issue, but in the PyPortal library, it works fine in 1.6.0, but in 1.7.x it fails. The line in the PyPortal library that it seems to fail on is: https://github.com/adafruit/Adafruit_CircuitPython_PyPortal/blob/master/adafruit_pyportal.py#L731
which is `r = requests.get(url, stream=True)`.

The URL is an image https://io.adafruit.com/api/v2/MakerMelissa/integrations/image-

[2020-10-09 20:14] anecdata commented on #41
Can you print the server headers? It's probably related to a known issue.

[2020-10-09 20:27] makermelissa commented on #41
No, at least not in the PyPortal library. It fails before the response is returned.

[2020-10-09 20:31] makermelissa commented on #41
I'm going to try within parse_headers.

[2020-10-09 20:33] makermelissa commented on #41
It doesn't appear there are any headers for the image for some reason.

[2020-10-09 20:34] makermelissa commented on #41
Sorry, I thought you meant response headers. I don't have access to the server headers.

[2020-10-09 20:46] tannewt commented on #40
Calling `.lower()` is copying the string. I'm really trying to avoid that.

No, I'm thinking along the lines of what Dan pointed out. Create an object that acts like a dictionary and does a case insensitive search on each access. That way you only pay the cost on the headers you care about.

[2020-10-09 20:48] makermelissa commented on #40
Ok cool. Thanks. I just wanted to make sure I understood.

[2020-10-09 20:50] makermelissa commented on #41
Oh, I realized I can get these with the 1.6.0 version. Here you go:
[code]

[2020-10-09 20:51] anecdata commented on #41
haha, I was just about to suggest that. Are there trace lines pointing to where in Requests it's faialing?

[2020-10-09 20:56] anecdata commented on #41
There is a `content-length` header, possibly a timeout is prematurely closing the socket. May help to just use requests to try to get the response, to see what's happing. Is that image accessible to other AIO users?

[2020-10-09 20:57] makermelissa commented on #41
I'm still a preplexed about exactly where it's failing and have been trying to trace this down. It seems like maybe like it's a parsing issue.

[2020-10-09 20:58] makermelissa commented on #41
Probably it's just using the image converter, but I didn't want to post my AIO key for everyone to see.

[2020-10-09 21:46] makermelissa commented on #41
Ok, I'm suspecting this may be related to the fact that there are 2 calls going on. It does a call to get JSON and that's successful. Then it does a call to download the image and perhaps something isn't resetting that should be between the calls.

[2020-10-12 22:58] tannewt commented on #41
@makermelissa 1.7.0 tries to reuse sockets to servers. I see that there is a `connection: close` header that the first request may have also had that we ignored. I suspect we need to actually close the socket when we see that in the response.

(I leave sockets open because TCP has a start up cost I was hoping to avoid.)

[2020-10-12 23:12] makermelissa commented on #41
Ok cool. I had to move off of this for the time being. Hopefully it's something simple.

[2020-10-20 17:49] gmeader commented on #41
Multiple Adafruit Learn Guides examples do not work accessing the Internet on 6.0.0-rc.0 on my PyPortal Titano with the latest libraries (6.x-mpy-20201019)
Note: Libraries examples: pyportal_simpletest.py and esp32spi_simpletest.py work fine.

These do not work:

PyPortal_CMA_ART_FRAME
PyPortal_NASA
PyPortal_NewNewNew
PyPortal_CuteFuzz
PyPortal_Tides
Those are all I bothered to try.
The errors are

[2020-10-20 19:17] tannewt commented on #41
@gmeader I believe it's requests 1.7.x which is a different from the 1.6.1 version of NINA.

We don't have a way currently to test on device so automating these tests is a bit tough. I did add CPython compatibility in 1.7.0 and unittests as well. So, as we fix these issues, we can add tests to make sure we don't regress again.

[2020-10-27 15:16] DeanDavis opened #42 "Slow GET response times using v1.7.2 of adafruit_requests"
This is a cross-post from the forum site but after experimenting more, this is either a hardware issue or an issue with the adafruit_requests library.
The quick version is that it's taking over a minute to get a response from some URLs using adafruit_requests and this is not an issue of the server side.

First Hardware:
Adafruit Matrix Portal running 6.0.0rc0 CircuitPython
ESP32 updated to firmwar

[2020-10-27 15:32] anecdata commented on #42
Likely the same or similar issue as #34  The MLB URL has a `Transfer-Encoding: chunked` header.

[2020-10-27 21:08] tannewt commented on #42
I think the core of the problem is that I switched from fetching the whole string and then parsing (in <1.7.0) to fetching characters as needed for parsing. The ESP32SPI library isn't optimized for this so it's quite slow. The benefit is that the largest allocation is much smaller because it's only for the largest individual json element, not the whole string.

I have an improved version of ESP32S

[2020-10-27 23:08] makermelissa commented on #42
@tannewt I thought I would give your ESP32SPI a test in case it fixed some issues, but it fails at one of the imports: https://github.com/tannewt/Adafruit_CircuitPython_ESP32SPI/blob/split/adafruit_esp32spi/adafruit_esp32spi_wifimanager.py#L19

[2020-10-27 23:14] DeanDavis commented on #42
I do think there is an issue in the adafruit_requests library. I've been tracing it for a couple of hours now and think I'm close to a solution. I'm pretty sure the issue is either a bug in the "while true" loop of the _readto method
or my URL's response is malformed or a combination of both.

I can tell you from my testing that the data from the response is immediately available to the results cl

[2020-10-27 23:16] makermelissa commented on #42
Awesome, thank you. I'd be happy to test it out.

[2020-10-28 19:37] DeanDavis commented on #42
Finished my trace and I've narrowed down the issue. Unfortunately my hypothesis of it being a bug in adafruit_requests turns out not to be the case.

The URL I'm testing with returns application/json data chunked and in gzip format. The server is sending properly formatted chunked data.

It's in two chunks. The first is 654 bytes and the second is the terminating chunk of 0 bytes.

Here's what I f

[2020-10-29 03:38] DeanDavis commented on #42
Update.
gzip encoding from the server doesn't factor into this. I was able to get the server to send raw data, not gzipped, by using the `"Accept-Encoding: identity"` header.
Even with unzipped data the code still stalls on the `b = self.socket.recv(size)` call when trying to get the data for the second/terminating chunk.

[2020-10-29 22:38] tannewt commented on #42
Hi @DeanDavis, thanks for the thorough investigation! This appears to be an issue with `recv`. The behavior should be that it only times out when no bytes are available from the start. If a fraction of the requested bytes are available, then they should be quickly returned. I've made a PR to fix ESP32SPI here: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/112

[2020-10-29 22:39] tannewt commented on #42
It looks the CircuitPython ESP32-S2 core implementation has the same issue so I'll fix it there too.

[2020-10-30 03:16] DeanDavis commented on #42
Just tested the new ESP32SPI library. Looks good. My issue was solved. Thanks.

[2020-10-30 03:16] #42 closed

[2020-10-30 05:12] anecdata commented on #34
[code]
Not sure if this is expected or not, but still seeing `RuntimeError: Failed to send 3 bytes (sent 0)` on alternating request iterations with `{'transfer-encoding': 'chunked'}` header.

However, all request iterations do return immediately rather than after the timeout expires.

[2020-10-30 15:14] ladyada commented on #41
i think this is resolved - if folks in the thread can try the latest release here (its not in bundle yet) please let us know any broken URLs :)

[2020-10-30 15:15] ladyada commented on #38
@zvxr hi can you try the latest version we have released?

[2020-10-30 15:16] ladyada commented on #34
the initial bug is fixed, can you try the latest version we have released?

[2020-10-30 15:38] anecdata commented on #34
Still seeing `RuntimeError: Failed to send 3 bytes (sent 0)` on alternating request iterations with {'transfer-encoding': 'chunked'} header:
'''
Adafruit PyPortal with samd51j20
6.0.0-rc.0 on 2020-10-16
adafruit-circuitpython-bundle-6.x-mpy-20201030 (includes ESP32SPI 3.5.2)
Requests 1.7.4 instead of Requests 1.7.3 from the bundle)
'''

[2020-10-30 15:41] brentru commented on #34
Seeing same as @anecdata using code from the Matrix Scroller, https://learn.adafruit.com/matrix-portal-new-guide-scroller/code-the-matrix-portal

URL it's trying to obtain: https://learn.adafruit.com/api/guides/new.json?count=5

[code]

[2020-10-30 16:04] makermelissa commented on #34
Thanks for testing. Yeah, there were multiple problems and we're still fixing. I'm working on the above mentioned issue next, which is what #41 is about.

[2020-10-30 16:09] anecdata commented on #34
I don't get any errors with @brentru's URL, but then I'm not doing any JSON processing. Maybe the difference yields a clue.

My current full test code (modified `simpletest.py`):
[code]

[2020-10-30 18:44] tannewt commented on #34
@anecdata Can you print out the headers of the request that succeeds? I suspect it includes a "Connection: close" header.

[2020-10-30 18:46] anecdata commented on #34
`{'Transfer-Encoding': 'chunked', 'Date': 'Fri, 30 Oct 2020 18:41:36 GMT', 'Server': 'Apache', 'Connection': 'Upgrade', 'Vary': 'Accept-Encoding,User-Agent', 'Upgrade': 'h2', 'Content-Type': 'text/html; charset=UTF-8'}`

[2020-10-30 18:56] anecdata commented on #34
Terminating chunk should be zero-length? There are no headers indicating trailers.

[2020-10-30 20:57] gmeader commented on #41
Next week I will test:
PyPortal_CMA_ART_FRAME
PyPortal_NASA
PyPortal_NewNewNew
PyPortal_CuteFuzz
(these are the Guides where large-ish images are downloaded)
on a Titano with a new library bundle release (presumably sometime next week.) and report the results here.

[2020-10-30 23:42] makermelissa commented on #41
This is still an issue though it is much less frequent. I have been trying out various things, but it still fails at least a quarter of the time. I have noticed when it does fail, it needs to reconnect to the Access Point, so that may be related.

[2020-10-31 19:58] jerryneedell opened #47 "SSL handshake now failing -"
I just updated to the latest adafruit_requests and now the same test I have been running on esp32s2s is failing
[code]
 this is the request that fails
[code]

if I revert back to the adafruit_requests from the 20201016 bundle , it works....
with the older library

[code]

[2020-10-31 21:22] ladyada commented on #47
out of curiosity, what if you connect to httpbin first?

[2020-11-01 01:08] zvxr commented on #38
@ladyada  unfortunately I still receive an error using requests 1.7.4.

For a PUT request it successfully executes but has issues reading response:

[code]

For a GET request:

[code]

ln 343 `self._raw.read()` returns an empty string for both requests.

I tried also upgrading to latest adafruit_esp32spi (1.3.6).

[2020-11-01 11:24] jerryneedell commented on #47
also get the same result on a unfeathers2
[code]
but interestingly on a saola_wrover with a recent CP update by @tannewt it passes that request, but fails on a later one...
the failing request here is
[code]
[code]

[2020-11-01 11:25] jerryneedell commented on #47
@ladyada I'm not sure what you are suggesting here. What should I change?

[2020-11-01 18:00] ladyada commented on #47
try connecing to httpbin website (currently failing) before any other sites rather than after adafruit wifitest

[2020-11-01 18:13] jerryneedell commented on #47
with that first it fails differently
[code]

codeimport ipaddress
import wifi
import socketpool
import time
import adafruit_requests
import ssl
import espidf

import gc

print("cp mem free", gc.mem_free())

print("idf total mem", espidf.heap_caps_get_total_size())
print("idf mem free", espidf.heap_caps_get_free_size())
print("idf largest block", espidf.heap_caps_get_largest_free_block())

for netw

[2020-11-02 11:17] jerryneedell commented on #47
FYI - it works if I use http instead of https
 ```response = requests.get("http://httpbin.org/get")```

[2020-11-02 11:28] jerryneedell commented on #47
Seem like all https requests are now failing -- some worked with the older library and some had SSL handshake errors. I had been assuming the SSL handshake issues we due to outdated certificates, but not really sure.

[2020-11-02 11:37] mytechnotalent commented on #47
@jerryneedell I can confirm identical behavior on the Metro ESP32-S2.

[2020-11-02 12:00] jerryneedell commented on #47
hmm -- getting stranger.
the https request succeeds with the test version of CP from @tannewt repo "fix_recv"
[code]

[2020-11-02 12:03] mytechnotalent commented on #47
@jerryneedell I will try to reproduce as well however I am getting the SSL issue as you did originally.

[2020-11-02 16:12] jerryneedell commented on #47
I have been assuming that the SSL error are due to the out-of -date certificates but the espidf.Memory Error is a real issue -- possible related to https://github.com/adafruit/circuitpython/issues/3562

[2020-11-02 16:25] mytechnotalent commented on #47
@jerryneedell I can confirm similar behavior.

Device - Metro ESP32-S2 (built and flashed firmware as of this morning)

Scenario 1:
[code]

Result 1:
[code]

Scenario 2:
[code]

Result 2:
[code]

[2020-11-02 17:32] dhalbert opened #48 "iface is not set correctly when using some examples"
I'm not sure whether this is an error in the examples or in the revised legacy API.

`examples/requests_simpletest.py` and `examples/requests_advanced.py` both contain code:
[code]
However, this code stopped working at some point during the revision of the legacy API. If I try the `simpletest`, I get
[code]
Here is the relevant revised code:
[code]
The `_FakeSSLContext` ends up with a `None` `ifac

[2020-11-02 17:36] makermelissa commented on #48
If you use `requests.set_socket(socket, esp)` like the PyPortal library does, it should work correctly. Maybe the examples just need to be updated?

[2020-11-02 17:38] dhalbert commented on #48
I think that's true, but maybe the examples used to work (by accident??) The old code is this:
[code]
`wrap_socket()` doesn't use the `iface`, so it won't have an error.

[2020-11-02 17:40] dhalbert commented on #48
Is the `socket.set_interface()` just unnecessary if you do `requests.set_socket(socket, esp)`? I am just not familiar with the idioms for using the library.

[2020-11-02 17:40] makermelissa commented on #48
Hmm, perplexing. 🤔

[2020-11-02 17:43] dhalbert commented on #48
It does work to replace the two lines with the one. (The point of all this was just to test that the revised `requests` library still worked on AirLift with SSL.)

[2020-11-02 17:46] anecdata commented on #48
Here's what I do:, and it works in CircuitPython. There may be a different sequence to be fully compatible with CPython:
[code]

[2020-11-02 23:56] tannewt commented on #34
@anecdata Ya, that looks correct to me. You do want it drained so it isn't read with the next request.

[2020-11-03 00:00] tannewt commented on #48
@dhalbert I think the simplest thing is to have `set_socket` pull the interface from the socket if it isn't provided. It's all a hack for backwards compatibility so we can do sketchy things in it.

[2020-11-03 00:17] tannewt commented on #38
@zvxr Thanks for the second test! I suspected that it wouldn't work. Any idea how we should know when the response is complete? We could read to `\r\n` but that will break if the contents include it.

[2020-11-03 00:25] tannewt commented on #47
For debugging SSL, it'd be helpful to have the UART output with mbedtls logging on. The esp TLS wrapper obscures the error numbers iirc. I'm going to get my SSL changes in a PR today. The main thing is I tried to reduce the overall wifi memory footprint and the footprint of each SSL connection.

[2020-11-03 11:08] mytechnotalent commented on #47
@tannewt let me know when you do as I am working on a very basic tutorial based on the one @FoamyGuy @anecdata and I put together for the Metro ESP32-S2 as I would like to test your SSL changes.  I am assuming once you have it merged I would grab the most recent version of the firmware as I am assuming SSL is built in?

[2020-11-03 17:37] tannewt commented on #47
My settings changes for SSL are in: https://github.com/adafruit/circuitpython/pull/3639

[2020-11-03 18:21] mytechnotalent commented on #47
Great news @tannewt I pulled in your branch and it works!

[code]

[2020-11-03 18:23] mytechnotalent commented on #47
Larger code demo in https://github.com/adafruit/circuitpython/pull/3639

[2020-11-07 15:36] amotl commented on #25
Hi there,

thanks for putting more efforts into this implementation. I can now see that after f32426d9 and e372574 on behalf of #31 by @tannewt,

https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/7f2877e6f4d981967ed982b4600dbc57fd622230/adafruit_requests.py#L274

is only made at the end of the `close()` method and nowhere else. That will probably have resolved the condition I was de

[2020-11-07 15:36] #25 closed

[2020-11-07 15:54] anecdata commented on #34
I'm seeing well-behaved chunked response handling using:
[code]
Will continue to test, probably close soon.

[2020-11-07 16:32] zvxr commented on #38
@tannewt makes sense-- I can't think of another way besides reading `\r\n`, but can see that being brittle. Maybe continue reading if it is not valid JSON? (but I could see that getting messy)

For HUE it does looks like all API responses include no whitespace in response.

[2020-11-12 18:53] makermelissa opened #51 "OSError 0 with MagTag"
I was running code to fetch bitcoin and came across this mysterious error.

[code]

[2020-11-12 20:21] tannewt commented on #51
Moving this to CircuitPython. For any issues on an S2 please file them there first.

[2020-11-12 23:53] anecdata commented on #34
Well-behaved chunked response handling on rc.2 with 20201111 libraries. Closing.

[2020-11-12 23:53] #34 closed

[2020-11-13 03:02] jepler opened #52 "AttributeError: 'bytearray' object has no attribute 'split'"
This seems to be a CircuitPython vs Standard Python difference which makes the changes in #46 not work on CircuitPython:
[code]
Desktop Python says:
[code]
while CircuitPython says:
[code]

[2020-11-13 17:00] tannewt commented on #52
I had a similar issue with `find`. https://github.com/adafruit/circuitpython/pull/3161

https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/master/adafruit_requests.py#L132-L147

[2020-11-14 16:28] DougBurke commented on #52
Thanks for reporting this - we're new to CircuitPython and so it's nice to know we're not the only ones seeing this! I rolled back to https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/tag/20201107 and was able to run my code.

[2020-11-14 20:44] martymcguire commented on #52
hi :wave: just adding that i also ran into this issue with the 20201114 bundle and [this guide](https://learn.adafruit.com/halloween-countdown-display-matrix/code-the-halloween-countdown).

[code]

rolling back to the version of Requests in the 20201113 bundle sorted it.

[2020-11-14 23:37] #52 closed

[2020-11-15 00:48] ladyada commented on #47
i think this issue is resolved - or at least i havent seen it in a while. please comment if you still see it - will close for now!

[2020-11-15 00:48] #47 closed

[2020-11-15 00:48] ladyada commented on #41
@gmeader did you have a chance to do more tests?

[2020-11-30 16:08] makermelissa commented on #41
I suspect this issue is fixed at this point. @gmeader were you able to test?

[2020-12-15 22:08] anecdata opened #55 "Intermittent ValueError on first GET response with ESP32-S2"
This has been observed for some months over successive versions of circuitpython and Requests (first noted in a comment in #34 ), current example with:
[code]
The first GET in `code.py` will _sometimes_ result in this exception:
[code]
Subsequent tries at GET always yield:
[code]
and reload is the only thing that seems to fix it.

I think it happens when the response is empty or times out or some

[2020-12-17 00:11] anecdata commented on #55
The `OSError: [Errno 9] EBADF` aspect is better handled with [https://github.com/adafruit/circuitpython/issues/3836](https://github.com/adafruit/circuitpython/issues/3836), and it's possible the initial `ValueError` may be recoverable if that socket behavior is changed.

I don't know if there's better handling for an empty `chunk_header` in line 236-[237](https://github.com/adafruit/Adafruit_Circu

[2020-12-21 23:28] tannewt commented on #55
@anecdata Seems like we should check for empty chunk header and fail the connection. (Raising an exception or similar that closes the underlying socket.)

[2020-12-30 18:51] brentru opened #57 "Simpletest does not work with HTTPS, ESP32SPI"
Changing the GET_URL from `JSON_GET_URL = "http://httpbin.org/get" to `JSON_GET_URL = "https://httpbin.org/get"` raises error:

[code]

Request and ESP32SPI are on the latest versions
`Adafruit CircuitPython 6.1.0-beta.2 on 2020-12-03; Adafruit PyPortal with samd51j20`

[2020-12-30 19:04] brentru commented on #57
issue is in call of set_socket within the example. Lacks the required iface paramter:
`requests.set_socket(socket)`
to
`requests.set_socket(socket, esp)`

After modification, both HTTP and HTTPs domains work as expected:
[code]

I'll put in a PR

[2020-12-30 21:41] brentru commented on #57
Fixed by #58, merged and released.

[2020-12-30 21:41] #57 closed

[2021-01-12 22:49] officiallymarky opened #61 "object has no attribute 'request'"
I am trying to do a very basic import requests and query a url and I'm getting an error:

File  "adafruit_requests.py", line 692

AttributeError: 'NoneType' object has no attribute 'request'

My code is super simple.

[code]

I am using this on a MagTag with the latest stable UF2 loader, and latest adafruit_request.mpy I can find.

[2021-01-13 01:43] anecdata commented on #61
There needs to be code to include the kind of interface you are using, since there's no OS providing a connection and sockets. In this case, the native networking modules of the ESP32-S2 are needed. There are helper libraries for the MagTag, see:
[https://learn.adafruit.com/adafruit-magtag/circuitpython-libraries-2](https://learn.adafruit.com/adafruit-magtag/circuitpython-libraries-2)
Or, at a low

[2021-01-13 01:43] #61 closed

[2021-01-13 01:44] officiallymarky commented on #61
You can't use it with magtag.network.connect()?

[2021-01-13 02:00] anecdata commented on #61
As I mentioned above, you can use the higher-level helper libraries, like MagTag and PortalBase. I'd suggest looking at some of the MagTag Learn Guides, or go on Discord to ask support questions.

[2021-01-13 20:24] jedgarpark opened #64 "json file over ~50KB cause parse error"
Trying to grab sports scores from ESPN API v2, some json files are too large it seems to use. This one is 47KB (just team info) is fine:
http://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/teams
`NAME_LOCATION = ['sports', 0, 'name']`
But this one is 80KB (and has useful game schedule info) is failing:
http://site.api.espn.com/apis/site/v2/sports/basketball/mens-college

[2021-01-21 08:43] askpatrickw commented on #41
Hey @gmeader were you able to test again? I'm thinking we can close this.

[2021-01-21 08:50] askpatrickw opened #62 "Setting up requests repeatedly (3 times) results in runtime error"
Originally I ran into this  using AIO time service, but I can reproduce just using requests.

**Simplified Test**

[code]

Always on the 3rd attempt I get this error:

[code]

**Workaround**
Setup requests before the while loop.

[2021-01-22 02:14] gmeader commented on #41
I tested
PyPortal_CMA_ART_FRAME and
PyPortal_NewNewNew
with the latest CircuitPython and libraries

They both work, but occasionally get an error on CMA_ART_FRAME
I'll report that on a new issue if I can determine if it is reproducible.
So you can close this one

[2021-01-22 09:16] askpatrickw commented on #41
Thanks @gmeader !

[2021-01-22 09:16] #41 closed

[2021-01-23 15:28] anecdata opened #63 "Repeated socket failures after ENOTCONN"
FeatherS2 with ESP32S2
6.2.0-beta.0 on 2021-01-22
adafruit-circuitpython-bundle-6.x-mpy-20210122

This is intermittent, so it's hard to demonstrate, but after only two of these errors (I would have expected the threshold to be four) mixed among successful HTTPS GETs:
[code]
all subsequent GET attempts yield:
[code]
`ENOTCONN` arises quickly, <0.005 seconds after the GET.

Only workaround found so

[2021-01-25 11:51] jerryneedell commented on #63
@anecdata Do you have a time.sleep() in your code? see  https://github.com/adafruit/circuitpython/issues/4061

[2021-01-25 21:56] hierophect commented on #63
@anecdata how rapidly are you making the send calls? I recently did some work to make the internals of Socket non-blocking, which might have resulted in some mis-identified errors if calls were made too fast. I'm still wrangling a bit with the error conventions of the Socket module, so I'm afraid I'm not sure how to go about addressing this problem without further info.

[2021-01-25 22:22] tannewt commented on #63
Maybe Requests isn't catching the ENOTCONN and needs to try and recreate the socket as a result.

[2021-01-25 22:26] anecdata commented on #63
@jerryneedell @hierophect There are no time.sleep() calls in the main loop of my 'production' code. When it starts up, there are three GET requests somewhat in sequence, but after that, it's minutes between GET requests. The ENOTCONN has arisen even after successful startup sequence, seemingly randomly in later loops. I'll try to gather more data.

[2021-01-26 17:18] anecdata commented on #63
Just a small tidbit of information... I put some code in before every network action that tests for connection by checking `wifi.radio.ipv4_address` (and connects if necessary). `wifi.radio.ipv4_address` should be `None` after a connection drops, it's the best check I've found to passively test connection to the AP without risking an exception.

Looks like when I get `ENOTCONN` either time, the co

[2021-01-26 17:24] hierophect commented on #63
@anecdata as noted in the other thread, this is almost certainly related to Send() erroneously reporting this error as ENOTCONN and is actually probably a non blocking or other timing problem. I'd be updating in that other thread as I work on it since I don't think it has anything to do with Requests.

[2021-01-26 17:42] anecdata commented on #63
@hierophect OK, thanks, just ruling out disconnection. I have a row of FeatherS2 boards with 6.1, 6.2, etc. so testing changes will be easy.

[2021-01-26 17:57] hierophect commented on #63
@anecdata great, thanks a bunch for helping out with all this. Proper error handling and socket closing is still my biggest struggle on the low level.

[2021-01-28 19:12] #64 closed

[2021-01-30 19:40] dhalbert opened #66 "using sockets as dict keys"
`.socket_free` is a dict that uses a socket as a key. To enable this, `__hash__()` was added to the native `Socket` class. However, the hash value used is not immutable: https://github.com/adafruit/circuitpython/issues/4101.

The hash function could be fixed, or perhaps the use of a dict that needs to use sockets as a key could be revisited here.

Encountered while debugging https://github.com/ada

[2021-01-30 19:56] hierophect opened #67 "SSL handshake failures are not caught"
[In the request method](https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/f658b39ff84231b0be8e827fd676073e195a266c/adafruit_requests.py#L563), while attempting to send a request, only `_SendFailed` exceptions are caught and all others (such as a `Failed SSL handshake`, which may occur after too much time has elapsed between requests) are ignored. This then leads to `recv` or `recv_i

[2021-01-30 20:08] hierophect commented on #67
I fixed this for my example program by simply replacing `except _sendFailed:` with `except:` but I don't know if there's issues with that?

[2021-02-01 04:15] tannewt commented on #66
I think the socket fix is the correct one. Sockets should work as keys.

[2021-02-01 04:16] tannewt commented on #67
Ya, don't do `except:` because you'll catch absolutely everything. You can add a second except for the error type of "Failed SSL handshake" though.

[2021-02-01 15:23] hierophect commented on #67
@tannewt what's the issue with catching everything here? Is there an exception that's considered acceptable? All the step does is mark that the socket is not ready to receive data and close it, which seems like the right thing to do for any exception.

[2021-02-01 15:25] hierophect commented on #67
Alternatively I could add in an `else:` to actually raise exceptions that aren't of the two specified types.

[2021-02-01 21:16] anecdata commented on #63
Behavior is changed, but still present. Using today's artifacts from today's [#4049](https://github.com/adafruit/circuitpython/pull/4049) commits (6.2.0-beta.1-29-gaf92db28b on 2021-02-01) on multiple FeatherS2 with ESP32S2, I get this intermittently after some successful GETs:
[code]
Then, after any two of those:
[code]

[2021-02-01 21:21] hierophect commented on #63
I would need to see your code to debug this any further. Based on the other issue, SSL failure can occur due to a timeout, but potentially from other problems as well. Running out of sockets will happen anytime you do not close a socket properly. I can track where these occur with LWIP_DEBUG and mp_printf/gdb but I'd need my hands on the code, or a subset of it that makes the issue occur (I don't

[2021-02-01 21:23] hierophect commented on #63
Note that we haven't fixed Requests yet, which doesn't properly close the socket unless you make the modifications I discussed in the other thread, so maybe the out of sockets problem related to that?

[2021-02-01 21:24] anecdata commented on #55
Similar scenario (no headers or content returned, despite 200 status code on the server side) using today's artifacts from [#4049](https://github.com/adafruit/circuitpython/pull/4049) commits (6.2.0-beta.1-29-gaf92db28b on 2021-02-01) on multiple FeatherS2 with ESP32S2 gives:
[code]
which is non-fatal and recoverable, so I'm closing this issue.

[2021-02-01 21:24] #55 closed

[2021-02-01 22:29] anecdata commented on #63
@hierophect Can you please point to the Requests modification you're referring to? I'm tracking about 20 networking issues and PRs right now, and I'm drawing a blank.

[2021-02-01 22:55] hierophect commented on #63
@anecdata Oh sure, sorry. It's number two on this list, https://github.com/adafruit/circuitpython/issues/4061#issuecomment-770274825, broken into this issue: adafruit/Adafruit_CircuitPython_Requests#67. An except that only catches `_SendFailed` needs to be made more generic so that sockets are closed properly.

[2021-02-01 23:42] anecdata opened #69 "Separating Requests from Responses"
I have yet to get my head fully around the Requests library, so this is a bit of a shot in the dark but I wonder if there is a way to more cleanly separate the Request from the Response, so that:

1. a Request could be issued
2. optionally, at a time of the user code's choosing, it could non-destructively peek ahead to see if there is any returned data yet on the socket or just do some other quick

[2021-02-02 03:44] tannewt commented on #67
Catching everything is bad because you'll catch extra stuff. Reload, keyboard and deep sleep all use exceptions. Those things (or others) may be caught higher and the code will expect the socket to continue. So, *always* be explicit with catching exceptions.

[2021-02-02 13:54] anecdata commented on #63
If I modify Requests to also catch `OSError` along with `_SendFailed`, I don't get the `RuntimeError: Out of sockets`. I don't know if this is the right solution generally (for example, are there OSErrors that we shouldn't catch).

It looks like now `OSError: Failed SSL handshake` happens in my code when there have been no GET request for several minutes. But then it's immediately retried and work

[2021-02-02 15:24] anecdata commented on #63
Side note: something is now broken with HTTP?:
[code]

[2021-02-02 19:20] anecdata commented on #63
OK, I'm finally able to reproduce it with a public URL. I've modified adafruit_requests as described in the previous comment, and also added `sys.print_exception(e)`. It appears that some state is retained from the prior request, and that is interfering with the subsequent request in a way that manifests as a Failed SSL handshake:
[code]
results in:
[code]

[2021-02-04 22:46] anecdata opened #71 "non-TLS HTTP requests fail"
Opening this as a fresh issue since #63 should get closed by #70.

On CicruitPython (since PR#4049), non-TLS HTTP requests fail:
[code]
results in:
[code]

[2021-02-04 23:59] anecdata commented on #63
In the pre-ESP32-S2 days, Requests was HTTP/1.0 and we sent no countermanding `Connection` header, so each HTTP connection would get closed after the response (by client and server).

In HTTP/1.1 (newly supported in Requests in conjunction with ESP32-S2) HTTP connections are presumed persistent (`keep-alive`) unless the server sends a `Connection: close` header, or the client does and the server m

[2021-02-05 01:19] anecdata commented on #63
I'm closing this since the original repeated socket failures / out of sockets issue was resolved. The `OSError: Failed SSL handshake` will still lurk in the background under some circumstances, but PR 70 will mask it from the user by closing the offending socket and retrying with a new one.

[2021-02-05 01:19] #63 closed

[2021-02-05 15:49] hierophect commented on #63
@anecdata I think the reason the SSL handshake occurs every other request (as it did with Jerry's code too) is because of how the socket fails - on the first use, it sees there's no socket and creates one, on the second, it sees there already is one and attempts to use it, but fails, and closes it. Then, because the socket has been closed, it just creates a new one on the next request and has no e

[2021-02-05 16:24] anecdata commented on #63
the second fails why... because in the core or IDF it has timed out and been closed out from under Requests?

[2021-02-05 16:38] hierophect commented on #63
@anecdata it actually happens even lower than the core, it's an error returned by `esp_tls_conn_new_sync` which is from the esp-idf, part of Mbed TLS. It's possible that the timeout that Requests has set up is not aligned with the timeout in MbedTLS.

[2021-02-05 19:58] anecdata commented on #67
Closed by #70

[2021-02-05 19:58] #67 closed

[2021-02-07 06:16] anecdata commented on #71
Now, using the build artifact from https://github.com/adafruit/circuitpython/pull/4138, the behavior is `OutOfRetries`, indicating that something is going wrong prior to getting the first good byte back from the socket (the "H" from "HTTP/1.1").

@Neradoc had a working manual example of HTTP without Requests on Discord, so comparing that to Requests and putting in a ton of print-debugs, looks like

[2021-02-07 06:41] anecdata commented on #71
While poking around, also noticed that this block:
[https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/7b1fc6fd9269318bda3996476b4ecf9fc8f37881/adafruit_requests.py#L431](https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/7b1fc6fd9269318bda3996476b4ecf9fc8f37881/adafruit_requests.py#L431)
[code]
I think has an extra parameter (there used to be three including `proto`, n

[2021-02-07 10:27] Neradoc commented on #71
The null byte comes from the buffer being initialized with nulls and not being overwritten because `recv_into` reads one less byte than it should. I believe https://github.com/adafruit/circuitpython/pull/4148 fixes that.

[2021-02-11 18:58] anecdata commented on #63
Saola1w/Wrover 6.2.0-beta.0 on 2021-02-11
adafruit-circuitpython-bundle-6.x-mpy-20210211
code from https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63#issuecomment-771909006

This is still happening behind the scenes (I edited Requests to print the exceptions), now showing up as ENOTCONN again. 1st and odd GET tries successful, even GET tries ENOTCONN.
[code]
DEBUG log:
[code]
It

[2021-02-16 22:53] jfurcean opened #73 "Out of sockets on 3rd Request"
The [MagTag Google Calendar Event Display Learn Guide](https://learn.adafruit.com/magtag-google-calendar-event-display/getting-the-date-time) is crashing with the following trace using CircuitPython 6.2.0-beta.2 and the latest libraries.

[code]

[2021-02-17 00:48] jfurcean commented on #73
I did a little bit of troubleshooting and I think the oauth request socket is being left open. I am not sure if this is a `adafruit_requests` issue or an `adafruit_oauth2`.

[2021-02-17 02:32] jfurcean commented on #73
This looks like a failure to close sockets. The below example crashes on the third request.

[code]

[code]

[2021-02-17 03:53] anecdata commented on #73
Just for completeness, it's unrelated to MagTag. This also gets `Out of sockets`:
[code]

[2021-02-17 16:52] jfurcean commented on #73
This should be fixed by PR #74.

[2021-02-17 16:52] #73 closed

[2021-03-11 16:19] anecdata commented on #38
Since there's no `Content-Length` header, and no `Transfer-Encoding': 'chunked'` header, but there is a `Connection: close` header, this is probably the case where the server has closed the socket and the client is expected to detect that and stop reading (scenario 5 in section 4.4 at the link above).

@zvxr What board is this? ESP32SPI has access to socket state and it could be checked so that Re

[2021-03-16 22:45] zvxr commented on #38
@anecdata  I have a couple projects using both Adafruit AirLift Shield and Adafruit Metro M4 Express AirLift -- both ESP32.

[2021-03-21 14:50] anecdata opened #75 "Certain Feather RP2040 (ESP32SPI) chunked responses fail"
This one only manifests on Feather RP2040. It doesn't happen on PyPortal or FeatherS2. Some primitive behaves different? A timing quirk? Flash issue? Other??

This URL comes back as a chunked response, but loads fine:
https://anecdata.dev/ada/chunked2/?oc=8&ic=4&tr=28&ot=0&it=0

But this one hangs up on receiving:
https://anecdata.dev/ada/chunked2/?oc=7&ic=3&tr=17&ot=0&it=0

The parameters affect

[2021-03-21 14:58] anecdata commented on #75
Test code is a simplified Requests simpletest:
[code]

[2021-03-29 22:10] #48 closed

[2021-04-06 19:06] akbykraz commented on #37
Getting similar error from Worldtimeapi, instead of AIO ... Originally had this error report
show up in MatTag Project selector (Issue #23) ... It was then moved to PortalBase as it
 appeared problem was in there ... Did not think to check the requests att because the
PortalBase error occurred most often ... Now with either 6.2.0 or 6.2.0-rc.0, the following
traceback occurs on a consistent basis:

[2021-04-07 15:05] brentru commented on #37
@akbykraz  The issue you linked is for a CoC update, do you have another link?

[2021-04-07 19:02] akbykraz commented on #37
@brentru ... Sorry don't know what CoC is ... Not sure what link you are
referring to ... Only link is to MagTag Project #23 which was moved to
PortalBase issues ... Added note here as error traceback seemed similar
to this error ...

[2021-04-09 13:15] brentru commented on #37
You linked to https://github.com/adafruit/Adafruit_CircuitPython_Requests/pull/23 which is not the magtag project, it's a pull request for "Update Code of Conduct #23". Did you mean to link something else?

[2021-04-09 15:22] akbykraz commented on #37
Sorry ... Link was suppose to be pointing to the _MagTag Project Selector (#23)_ which
was moved to PortalBase repo ... Was under the impression that the (# 23) was a link to
my original post ... (I just now saw the drop-down for the 23 number entry) ... My
keyboarding entries are done sometimes without my looking @ the screen, missed
that spelling completion/correction drop-down ... My bad ... Ne

[2021-06-21 05:38] Dcai169 commented on #62
I am also having this issue. I can't send more than two requests without an error.

[2021-06-21 16:23] anecdata commented on #62
`REQUESTS = adafruit_requests.Session(POOL, ssl.create_default_context())` only needs to be done once, rather than in the loop. ESP32-S2 is currently limited to 4 simultaneous sockets, HTTPS/TLS uses two per transaction.

[2021-06-21 16:38] Dcai169 commented on #62
I assume that sockets are automatically freed when the transaction is finished?

[2021-06-21 16:55] anecdata commented on #62
Certainly if you `close` the response or use a context manager. There's also an optimization to use the same socket (if it still exists) when you re-connect to the same protocol/address/port within a `Session`. I haven't looked at the library to see what happens when you create more than one `Session`.

[2021-09-27 17:45] FoamyGuy opened #78 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-09-28 02:04] anecdata opened #79 "ESP32SPI HTTP (non-secure) URLs get OutOfRetries: Repeated socket failures"
Consistently repeatable, not intermittent:
`https://httpbin.org/get` and other HTTPS URLs work fine
`http://httpbin.org/get` does not work (it does work with browser and `curl`)
`http://wifitest.adafruit.com/testwifi/index.html` does not work (it does work with browser and `curl`)

Configuration:
`Adafruit CircuitPython 7.0.0 on 2021-09-20; Adafruit PyPortal with samd51j20`
`adafruit-circuitpython

[2021-09-28 15:53] anecdata commented on #79
Closing. Turns out this is an issue with one of my WAN providers.

[2021-09-28 15:53] #79 closed

[2021-10-05 22:56] pjockey opened #84 "OutOfRetries: Repeated socket failures"
Running a code for weather(https://learn.adafruit.com/weather-display-matrix) with the 64x32 LED board and and I keep getting the following error:
[code]
I'm running CP 7.0.0 with the libraries from 210928 and I had this same problem with CP 6.3.0.

Any ideas?

[2021-10-08 00:05] pjockey opened #80 "OutOfRetries: Repeated socket failures"
More than likely intermittent, because it happens at different times, not at a set time period or length.
Configuration:
`Adafruit CircuitPython 7.0.0 on 2021-09-20; Adafruit Matrix Portal M4 with samd51j19`
`Board ID:matrixportal_m4`
`adafruit-circuitpython-bundle-7.x-mpy-20210928`

Script:
[code]
Error:
[code]

I've had this error or variations of this using CP 6.3.0 and all the way thru the pro

[2021-10-24 11:03] jerryneedell opened #81 "extra positionial arguments ??"
I just updated a MAGTAG to the current tip of main and updated all the libraries to the current bundle. The code I am running has been running for several months but now it is failing when trying to  get the localtime `magtag.get_local_time()`
[code]

Has something changed?

here is the code.py
[code]

[2021-10-25 09:59] #81 closed, assigned to dhalbert

[2021-11-03 01:22] anecdata commented on #80
Can this be closed? Seems like the same issue as #84 that was moved here.

[2021-11-03 01:42] makermelissa commented on #80
Makes sense to me.

[2021-11-03 02:26] anecdata commented on #80
#84 has more detail and discussion.

[2021-11-03 02:26] #80 closed

[2021-11-03 15:06] wavesailor commented on #62
I came across this problem too on my MagTag.
I was not using sockets but doing multiple requests. Some of my requests were "automatic" (to Adafruit IO)  and some I initiated to OpenWeather API.
I would get the error below:

`Traceback (most recent call last):
  File "code.py", line 23, in <module>
  File "adafruit_requests.py", line 595, in get
  File "adafruit_requests.py", line 559, in request

[2021-11-11 02:19] anecdata commented on #69
Bumping this for visibility in light of pending `asyncio` feature. My understanding is that `asyncio` is cooperative rather than pre-emptive, so Requests would need to be restructured to take advantage of it.

[2021-11-11 17:56] tannewt commented on #69
I don't think we'd change requests. Instead, we'd provide a second async library, just like `aiohttp` in CPython. https://www.twilio.com/blog/asynchronous-http-requests-in-python-with-aiohttp

[2021-11-11 18:08] anecdata commented on #69
Closing in favor of a separate future async-friendly library.

[2021-11-11 18:08] #69 closed

[2021-11-24 00:24] askpatrickw opened #86 "Requests hangs periodically"
I'm running a magtag in a 5 minute deep sleep loop.

On wake it connects to the WIFI and sets the system time by getting time from the Adafruit IO API.

This works for a while (~an hour) and then it hangs.
Less often I have seen #62.

**Environment**:
Adafruit CircuitPython 7.0.0 on 2021-09-20; Adafruit MagTag with ESP32S2
Board ID:adafruit_magtag_2.9_grayscale

This is the function I call to set

[2021-11-24 00:28] anecdata commented on #86
Is this function the only place in the code where these lines are executed?
[code]

[2021-11-24 00:37] askpatrickw commented on #86
No.

I have a networkinit.py I reuse that does the wifi and time which has these lines. I import networkinit and it runs.

But is the first instance of them which is called after the device wakes from sleep.

It always hangs here waiting for the time and never later in my code.py where I am calling an API for some data.

Debug Build and a Kaluga to capture outpur. I could set that up.

[2021-11-24 00:48] askpatrickw commented on #86
I'm going to make sure I can reproduce this without the Text display stuff I was doing on the MagTag. I'm sure its not related but just to be sure. If so, I'll try it on the Kaluga with the debug output.

[2021-11-24 01:22] askpatrickw commented on #62
As I re-read all this slowly and with 11 month older brain, I believe the common issue is where in the code you are creating the Radio and the Requests objects and if you're doing so in such a manner they are called more than once thus using up the sockets as Anecdata mentions here: https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/62#issuecomment-865173242

I'm going to refactor

[2021-11-24 20:32] askpatrickw commented on #62
If you want to play along ...

[code]

It is definitely not working reliably.

[code]

[2021-11-24 21:10] anecdata commented on #62
I do often get `OutOfRetries: Repeated socket failures` after `wifi` is freshly enabled, but retrying almost always works. There are some quirks in how Requests interacts with ESP32-S2.

[2021-11-25 21:41] askpatrickw commented on #62
I added a bunch of print statements and I see this pattern (which I don't understand).

When it works, before the `sock.connect((connect_host, port))`, self._socket_free has an object `'_socket_free': {<SSLSocket>: True}` and when it fails it does not. But it never gets to more than the 2nd retry.

[code]

[2021-11-25 21:53] askpatrickw commented on #62
I added a bunch of print statements and I see this pattern (which I don't understand).

When it works, before the `sock.connect((connect_host, port))`, self._socket_free is empty `'_socket_free': {}` and when it fails it has `'_socket_free': {<SSLSocket>: True}` when entering _get_socket.

Also, it never gets to more than the 2nd retry.

Is it reusing one socket for a different site?

[code]

[2021-11-25 21:59] askpatrickw commented on #62
No, that's not right...
In the 2nd request, there is an "old" socket.
It frees and closes it.
and it in the retry attempt its failing.

[2021-11-25 22:48] askpatrickw commented on #62
I added a bunch of print statements and I see this pattern (which I don't understand).

When it works, before the `sock.connect((connect_host, port))`, self._socket_free is empty `'_socket_free': {}` and when it fails it has `'_socket_free': {<SSLSocket>: True}` when entering _get_socket.

Also, it never gets to more than the 2nd retry.

[code]

[2021-11-28 21:14] askpatrickw commented on #62
It was failing almost every time on the 2nd request or sometime on the 2nd loop (after the timer). I tried replacing all the sites I was using and the test works way better, but it will eventually fail off in C-land and one time I had a hard fault. 👀

I'm running it some more with the latest released version, but so far much better with "better" endpoints.

[code]

[2021-11-28 21:37] askpatrickw commented on #86
This is a dupe of #62

[2021-11-28 21:37] #86 closed

[2021-11-28 21:47] anecdata commented on #62
Are you using a CP version since <https://github.com/adafruit/circuitpython/pull/5562> that cured some hardfaults?

[2021-11-28 23:11] anecdata commented on #62
I'm running the above code now with `Adafruit CircuitPython 7.1.0-beta.0 on 2021-11-12; Saola 1 w/Wrover with ESP32S2` (actually a DevKit-C but code-wise identical), with the addition of two of the links from the prior example (6 total, but not requestbin that's 404 for me). Should I be doing this in pretend deep sleep, or real deep sleep, or doesn't matter? Just a handful of loops so far, I'll up

[2021-11-29 00:38] askpatrickw commented on #62
If I see the hard fault again, I'll try that. I only saw it once.

I was running it with io.adafruit.com and httpbin.org back in the loop as the "better" endpoints were working very reliably and I'm wondering it there's a problem with the services. Because it does seem to fail more often.

[code]

[2021-11-29 02:40] anecdata commented on #62
I've been running those 6 URLs looping through pretend deep sleep for about 3-1/2 hours with no hiccups, but clearly some conditions are causing issues at times. Networking is bound to be error-prone, so long-running code will need to catch and handle exceptions in some way. But I think our goal is for the core and Requests to be as resilient and friendly as possible. If we can find patterns or pr

[2021-11-29 17:39] askpatrickw commented on #62
I think we're seeing the same thing now. You get bonus points for using emoji in your print().
Ultimately I think the issue in the Core not in this library.

I was looking at porting rety or tenacity, but they all require large swaths of Python libraries CP does not have and probably shouldn't have (too big).

If using requests should always involve a try, should we update all the samples to show

[2021-11-29 20:29] pjockey commented on #84
These persist even with the newest Libraries.

[2021-11-29 20:42] anecdata commented on #84
I do get these occasionally too, but catching and retrying usually works on the second time. You can also play with `timeout`. Generally, my escalation for network issues (because there are many potential causes, internal and external) is:

- retry (or retry with a longer timeout) ...several times; if it's not time-critical, wait some time before retrying
- disconnect / reconnect (ESP32SPI or ESP3

[2021-11-29 22:42] askpatrickw commented on #62
I also plan to run this in debug on my Kaluga, and see if I can gather more info on the CP part, I just have to make time to do that.

[2021-11-29 22:49] askpatrickw commented on #84
I'm going to close this. It is the same issue that we're tracking and working on in #62

[2021-11-29 22:49] #84 closed

[2021-12-10 16:24] tekktrik commented on #78
Submitted PR #87 to address

[2021-12-10 16:28] tekktrik opened #88 "Lack of "params" keyword in request() and related methods"
It looks like `request` and related functions don't take a `param` keyword like their CPython equivalents.  However, passing the query parameters as part of the URL does work, so it's not missing that functionality, just how it's achieved.  Is there a reason for that?

[2021-12-10 17:46] tannewt commented on #88
I don't think so. We just didn't implement it.

[2021-12-10 19:31] tekktrik commented on #88
If it works without it, is it a change worth making?  I could add a PR that just basically takes any params and adds it to the URL so it should be backward compatible.  I think the only thing I'd have to make sure of is that I'm quoting and escaping characters appropriately.

[2021-12-13 22:49] tannewt commented on #88
I wouldn't add it because it'll increase the library size.

This is where the "CircuitPython APIs are a subset of CPython APIs" is important. CircuitPython code should work in CPython but not necessarily the other way around. CPython's API is very broad and we simply can't implement it all.

[2021-12-13 22:51] tekktrik commented on #88
Makes sense, sounds good!  Closing because the functionality exists then.

[2021-12-13 22:52] #88 closed

[2021-12-17 22:46] bozulbang opened #89 "uploading multipart/form-data requests"
Issue:
adafruit_requests library should be able to easily upload multipart/form-data requests

Description:
The adafruit_requests library currently only lets you easily make requests via JSON or via url-encoded form parameters. It would be helpful if it also let you easily make multipart/form-data requests.

My use case is that I want to be able to call the Neocities file upload API from a Circuit

[2021-12-20 10:21] TheRealMintd opened #90 "Connection failure when using non-standard HTTP port"
To start, I'm using this library along with the `adafruit_espatcontrol` library. When using a URL such as `http://example.com:8000/`, the error `RuntimeError: Connection type must be TCP, UDL or SSL` is raised.

I think this happens because the `conntype` parameter is left empty during the `_get_socket` call, which results in the socket determining the type of the connection based on the port alon

[2021-12-22 01:35] FoamyGuy commented on #78
closed by #87

[2021-12-22 01:35] #78 closed

[2021-12-28 21:07] wellsta103 opened #92 "Module 'types' not found in CircuitPython 7.1.0"
adafruit_requests.py, version 1.10.3+ imports module 'types' which is not defined in CircuitPython 7.1.0:

ImportError: no module named 'types'

[2021-12-28 21:11] dhalbert commented on #92
This is fixed by https://github.com/adafruit/Adafruit_CircuitPython_Requests/releases/tag/1.10.4, which will be in the bundle tonight.

[2021-12-29 00:17] dhalbert commented on #66
Fixed by https://github.com/adafruit/circuitpython/pull/4049.

[2021-12-29 00:17] #66 closed

[2021-12-29 15:55] FoamyGuy commented on #92
Confirmed with pyportal and install from today's bundle this is resolved.

[2021-12-29 15:55] #92 closed

[2021-12-29 16:44] ladyada commented on #92
thankya!

[2022-01-01 02:38] kevincon opened #93 "Importing versions >=1.10.3 broken in CPython"
Some of the imports introduced in #87 (released in version 1.10.3) appear to break the import of `adafruit_requests` in CPython due to those new imports not being part of the `adafruit_requests` package's requirements.

To reproduce, you can create a fresh virtual environment and install `adafruit-circuitpython-requests==1.10.4`:
[code]

And then try importing `adafruit_requests` in the interprete

[2022-01-03 16:34] makermelissa commented on #93
I'm fairly sure CPython includes its own requests library which works well. Is this a dependency of some library you are trying to use?

[2022-01-03 18:16] kevincon commented on #93
My use case is that I'm developing a simulator for CircuitPython projects that runs project code in CPython (similar to [Device Simulator Express](https://marketplace.visualstudio.com/items?itemName=ms-python.devicesimulatorexpress) but without being coupled to VSCode and having an additional goal to enable automated testing of CircuitPython projects in the simulator). The first board this simulat

[2022-01-03 18:26] FoamyGuy commented on #93
That project you are working on @kevincon sounds awesome!

Blinka projects on RasPi or similar devices that are running CPython would have access to the "standard" python requests library, and they'd likely benefit from using that instead of the CircuitPython one which is designed as a subset of the standard one.

I think It would be good to get it back to being able to imported on CPython nonethe

[2022-01-03 18:50] makermelissa commented on #93
Awesome. Perhaps you can figure out some of the issues that affect the CircuitPython library.

[2022-01-03 18:50] kevincon commented on #93
Thanks @FoamyGuy, while I agree that projects that aim to only run on Raspberry Pi and similar devices can use `requests` instead of `adafruit-circuitpython-requests`, I'm more thinking of projects and libraries that aim to be simultaneously compatible with both CPython (via Blinka) as well as CircuitPython, e.g. https://github.com/adafruit/Adafruit_CircuitPython_OAuth2 and https://github.com/adaf

[2022-01-06 06:03] kevincon commented on #78
@FoamyGuy while working on #94 I saw there are still 42 mypy errors in `adafruit_requests.py`, so you might consider reopening this issue.

To reproduce, you can apply this diff to the pre-commit config on `main` (e.g. the run below was on 26b2411780f69edece156c25476359242446bac0):

[code]

and then run:

[code]

I saw that the number of errors decreases to 42 after #94.

[2022-01-06 14:37] FoamyGuy commented on #78
@kevincon thanks for the heads up. It is okay for the library not to completely pass mypy testing at this point.

We have not added mypy to the CI checks yet. When the time comes to do that (once we have most of the typing "low hanging fruit" done accross all libraries) then we'll have a discussion amongst the team to determine what settings and configuration we'll use for mypy when we add it to C

[2022-01-09 19:22] FoamyGuy opened #96 "Some Requirements missing in sphinx container"
When sphinx runs inside of the github actions container it installs everything from `requirements.txt`

There are some libraries currently used for typing here that are not currently included in requirements.txt:
https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/26b2411780f69edece156c25476359242446bac0/adafruit_requests.py#L46-L51

I think these missing requirements are causing CI d

[2022-01-10 20:10] FoamyGuy commented on #96
We discussed this "in the weeds" during the meeting on 1-10-21.

Preferred direction is to declare minimal Typing interfaces within this library (or perhaps moved to core some day if other libraries make use of the same type).

I'll close this issue and plan to open a PR that switches this using the interface object instead of the imports

[2022-01-10 20:10] #96 closed

[2022-01-11 00:42] FoamyGuy commented on #96
#94 will serve as the solution to this.

[2022-01-12 00:03] #93 closed

[2022-01-22 03:17] jasonwashburn opened #98 "TypeError when trying to use requests.get"
Any time I try to use the requests library on my Pyportal since upgrading to CircuitPython 7.1.1 I get the following error:
[code]

I've tried multiple example files that use the library with the same result. The currently loaded version is  the code below.
[code]

I'm currently running CircuitPython 7.1.1 Stable with the adafruit_requests library from adafruit-circuitpython-requests-7.x-mpy-1.10.

[2022-01-22 03:34] FoamyGuy commented on #98
I am seeing the same results on PyPortal with `7.1.1` and `7.2.0-alpha.1`

[2022-01-22 03:41] FoamyGuy commented on #98
Also confirmed same error with version `1.10.4` of this library.

[2022-01-22 03:46] FoamyGuy commented on #98
Very strange... Same error on PyPortal with `7.1.0` and `7.0.0`

[2022-01-22 03:48] kevincon commented on #98
@FoamyGuy could https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/pull/151 explain this issue? They added a `recv_into()` method in that PR but it only accepts one argument (`buffer`), while in `adafruit_requests` we pass two arguments (`buf`, and `size`).

[2022-01-22 03:51] FoamyGuy commented on #98
Issue is not present on FunHouse `7.2.0-alpha.1-163-g1cd3faa06`. So it does appear to be somewhat limited. That PR in ESP32SPI does look like it could be related.

[2022-01-22 03:54] FoamyGuy commented on #98
Confirmed issue is not present with version `3.5.14` of ESP32SPI library so I think you've narrowed it down correctly to that change.

[2022-01-22 23:32] rodneygmorgan opened #99 "https failure"
Running the requests_simpletest.py example on an AdaFruite MatrixPortal generates the following error(s) if the coinbase url is changed to https.  You can query the url via https from a browser.  Here is the output from the serial terminal.

[code]

[2022-01-29 21:35] anecdata commented on #75
`Adafruit CircuitPython 7.2.0-alpha.1-224-gac7a80753 on 2022-01-26; Adafruit Feather RP2040 with rp2040`
`adafruit-circuitpython-bundle-7.x-mpy-20220128`
`NINA 1.7.4`

Rested with latest CP & libs, and it's working now. Closing.

[2022-01-29 21:35] #75 closed

[2022-02-26 21:51] MadMaxMcKinney commented on #62
Following this discussion as I'm facing what I think is a similar issue? Some education on this topic would be really helpful. I've got a MatrixPortal that I use to look at some Adafruit IO feeds (although I think I want to move to MQTT), and then based on their info the portal will change between "Free" and "Busy", pretty simple!

However after random amounts of time it will stop responding all t

[2022-03-05 22:54] kabcasa commented on #62
it seems that my case seems similar in the sense that I cannot manage for this url to retrieve the json response.
"http://calendar2.priyom.org/events?timeMin=2022-03-04T00:00:00.000Z&amp;timeMax=2022-03-05T00:00:00.000Z"
To check I took a common example.
The execution succeeds with the error:
File "adafruit_requests.py", line 563, in _get_socket
RuntimeError: Sending request failed

I had no probl

[2022-03-06 02:22] anecdata commented on #62
@kabcasa Can you file a separate issue? This seems to be a different problem. The JSON file is 22k, I suspect that may have something to do with it. I doubt it's a signal strength issue. It fails for me also in the same way. If you only need some of the JSON, check out <https://docs.circuitpython.org/projects/portalbase/en/latest/api.html#module-adafruit_portalbase> and some examples of getting ju

[2022-03-06 02:49] anecdata commented on #99
It could be a certificate issue. What version of NINA firmware is installed on your MatrixPortal? My PyPortal with 1.7.4 loads the HTTPS coindesk JSON.

[2022-03-06 10:32] kabcasa commented on #62
@anecdata
Thank you for your comments.
Sorry but you said that it works with https but initially I had tested with https and it gives the same error for me that's why I tried with http.
I need this url because with the info obtained my project is to display on a 64x32 RGB LED Matrix.

[2022-03-06 11:25] kabcasa opened #101 "RuntimeError: Sending request failed"
Get error message when running following code  in Matrix Portal M4
RuntimeError: Sending request failed
and cannot  retrieve the json response from  this url :
"https://calendar2.priyom.org/events?timeMin=2022-03-04T00:00:00.000Z&amp;timeMax=2022-03-05T00:00:00.000Z"

The execution succeeds with the error:
File "adafruit_requests.py", line 563, in _get_socket
RuntimeError: Sending request failed

[2022-03-06 14:05] anecdata commented on #101
It could be a certificate issue. Looks like the NINA firmware version on the MatrixPortal is 1.2.2. There have been certificate updates since then. My PyPortal with 1.7.4 loads the HTTPS site. There's an update learn guide here:
https://learn.adafruit.com/upgrading-esp32-firmware

[2022-03-06 15:03] kabcasa commented on #101
@anecdata
Thank you for your comment
why this https url is working
URL = "https://api.openweathermap.org/data/2.5/onecall?exclude=minutely,hourly,alerts"

Anyway i will update the firmware

[2022-03-06 15:09] anecdata commented on #101
There are certificates in the v1.2.2 firmware that handle most HTTPS sites, but there is occasionally one that does not work and it often turns out to be handled by a certificate in the newer bundle in the upgraded firmware.

[2022-03-06 15:59] kabcasa commented on #101
i have updated the frimware but still can't get it
`<
ESP32 SPI webclient test
ESP32 found and in idle mode
Firmware vers. bytearray(b'1.7.4\x00')
MAC addr: ['0xcc', '0x5f', '0x43', '0xc2', '0x9d', '0x1c']
Looney2 RSSI: -53
Looney2 RSSI: -54
Looney5G RSSI: -59
Looney2 RSSI: -68
EasyLighting_23D26FB2 RSSI: -72
CenturyLink9993 RSSI: -87
SoccerBall RSSI: -89
Looney2 RSSI: -93
Connecting to AP...
coul

[2022-03-06 18:35] anecdata commented on #101
You're right. I'm not sure what I was seeing yesterday, but I get the same exception on PyPortal with 1.7.4 today.

Also, running ESP32SPI with debug=1, it's apparent that redirections from HTTP to HTTPS are handled properly; Requests gets a new socket with the updated port / protocol.

I think it's still possible it's a certificate issue since this URL also does not work on ESP32-S2, even with th

[2022-03-06 19:31] anecdata commented on #101
It does look like a certificate issue. On ESP32-S2, if I manually supply a certificate (using `context.load_verify_locations(cadata=CA_STRING)`), the request is successful.

[2022-03-06 19:36] kabcasa commented on #101
Please could you share how to code this

[2022-03-06 19:43] anecdata commented on #101
That was on an ESP32-S2, that code won't work on MatrixPortal. I did try to supply a custom certificate in ESP32SPI using `esp.set_certificate(CA_STRING)` (e.g., MatrixPortal, PyPortal), but it's apparently too long:
`AssertionError: .PEM must be less than 1300 bytes.` Though I may be supplying the wrong format; I used the same certificate string as on ESP32-S2.

[2022-03-06 19:52] anecdata commented on #101
ESP32-S2 code:
[code]
gives:
[code]

[2022-03-06 20:14] anecdata commented on #101
The 1300-character limit (`AssertionError: .PEM must be less than 1300 bytes.`) apparently arises in the NINA firmware:
https://github.com/adafruit/nina-fw/blob/d73fe315cc7f9148a0918490d3b75430c8444bf7/main/CommandHandler.cpp#L34
I've filed an issue there:
https://github.com/adafruit/nina-fw/issues/42

[2022-03-06 20:16] kabcasa commented on #101
@anecdata
Thanks a lot

[2022-03-07 00:03] kabcasa commented on #101
I'm not sure if that can help
https://forums.adafruit.com/viewtopic.php?f=60&t=170089&p=831515&hilit=esp32spi+certificate#p831515

[2022-03-07 02:31] anecdata commented on #101
The certificate I used is somewhat random, it just worked in a prior similar case so I tried it here. It's from an Espressif example:
https://github.com/espressif/esp-idf/blob/master/examples/protocols/https_request/main/server_root_cert.pem

[2022-03-07 02:46] anecdata commented on #101
Looks like that cert has been added to the NINA repo, but it has not yet been re-built and re-released. You can watch that library for a new version, which (I hope) should fix your issue. Silly mistake above... I _thought_ I had updated my ESP32-S2 to the version (anything since 6 days ago) including the new cert, but flashed the wrong version (I've edited comments above). But now having done so,

[2022-03-07 12:34] kabcasa commented on #101
Thanks again.
But is working with ESP32-S2 and not for ESP32-SP1 that means we still have the issue even after the NINA will be updated if the limit of  1.3k is not resolved .
We have tested after updated to NINA 1.7.4

[2022-03-07 16:52] anecdata commented on #101
The 1300-byte limit is only for manually-supplied certificates. Once the NINA firmware is updated, this URL should work.

[2022-03-07 17:23] kabcasa commented on #101
temporarily is it possible to set the requests verify to False as for python
requests.get('https://example.com', verify=False)

[2022-03-07 18:41] anecdata commented on #101
I don't see it in the ESP32SPI [API](https://docs.circuitpython.org/projects/esp32spi/en/latest/)

ESP32-S2 has [this](https://docs.circuitpython.org/en/latest/shared-bindings/ssl/index.html#ssl.SSLContext.check_hostname):
[code]
but in this issue (and a prior certificate issue) it was not enough to allow successful loading of the URL.

[2022-03-08 02:11] anecdata commented on #101
@kabcasa If you're in a hurry for this, you can build the NINA firmware. It's a little involved, but it can be done:
https://github.com/adafruit/nina-fw#readme

[2022-03-08 17:46] kabcasa commented on #101
i have try but get error when running : make firmware
[code]

[2022-03-08 19:53] anecdata commented on #101
It's been a couple of years since I built NINA. I'm not sure how to interpret those errors, this may need someone more expert to weigh in or do the build.

[2022-03-13 10:41] kabcasa commented on #101
@anecdata
Hi i could finally update the firmware in Windows.
That could resolve the url request issue.

[2022-03-13 22:34] #101 closed

[2022-03-13 22:35] kabcasa commented on #101
resolved after updated nina-fw firmaware

[2022-03-21 16:49] dsohrabian commented on #62
@anecdata Can you speak to your last comment a bit about 22k JSON file being an issue? Is there is a size limit for memory on the ESP chip or something to be aware of? Trying to debug a related issue to this case and not sure if I am just expecting the impossible hardware-wise or if it's a software bug.

[2022-03-21 16:59] anecdata commented on #62
@dsohrabian That turned out to be an incorrect supposition. There probably are RAM (and other) limits on the size of a requested payload, but they would also depend on other loaded libraries, code, which MCU, etc.

[2022-03-21 19:13] wavesailor opened #103 "Getting a request.py error in the code for the "MagTag Lists From Google Spreadsheets" tutorial"
I'm getting an error running the following code: https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/main/MagTag_Google_Sheets/weekly_planner/code.py
[code]

I use `wget` on my Pi  to retrieve my URL just fine, but it does not work on the MagTag

I'm using the latest libraries and Circuit Python for MagTag
[code]

[2022-03-21 19:55] wavesailor commented on #62
I'm found another issue with the requests library call. Sample code from the "[MagTag Lists From Google Spreadsheets](https://learn.adafruit.com/collaborative-spreadsheets-to-magtag?view=all)" tutorial , should work but does not. Thought it may help to mention it here. I did log it under it's own [issue](https://github.com/adafruit/Adafruit_Learning_System_Guides/issues/2115):

It returns this err

[2022-03-21 20:29] wavesailor commented on #103
I kinda follow what you saying .... my initial request is redirected (Temporary redirect 307) to another host but still Google.

But does this mean `requests.py` needs to be corrected/fixed?

[2022-03-21 20:49] anecdata commented on #103
I believe `adafruit_requests` would need a change, since the host changes on redirect. You _might_ be able to put the final `https://doc-14-2g-sheets.googleusercontent.com/`... URL into the CircuitPython code for it to work. It's a temporary redirect, so it could change again in the future.

[2022-03-21 20:56] wavesailor commented on #103
Okay thanks. Do I have to log a request somewhere to get it fixed?

PS. I did try use the redirected URL in but it expires are a certain period  :-(

[2022-03-21 21:12] anecdata commented on #103
Yeah, I couldn't get it to work in curl either. A bit unfriendly to require a heavy redirect to access an asset.

This issue serves as the request to get the issue addressed, but it is dependent on resources and priorities, or someone motivated enough to fix it sooner ;-). I'm going to also file a new issue in the Guide to keep track there... maybe there's an alternate way to serve up the spreadsh

[2022-03-21 21:14] anecdata commented on #103
@wavesailor It might work to get the response headers and parse out the new temporary `Location` URL and then turn around and fetch that.

[2022-03-21 21:31] wavesailor commented on #103
The results I get are definitely a bit strange. I changed the code to retry every minute. This happens if it is successful or if there is a runtime error.

It would not work for a few tries, then it would miraculously work, then it would fail again and finally it would crash circuit python.

This is the output I got:
[code]

[2022-03-21 21:48] wavesailor commented on #103
No I cannot even get it to run at all :-(

I only get this:
[code]
So I cannot even try get the redirected URL in because it is failing in the `close` function of the `adafruit_requests.py`

[2022-03-21 22:29] wavesailor commented on #103
Besides the Temporary redirect `307` of the URL, I feel some error or value is not being checked in the `close `function of the `response `class in `adafruit_requests.py`

[2022-03-21 22:38] dhalbert commented on #103
The `invalid syntax for integer with base 16` is because it thinks it's reading a chunk header with a hex size and trying to parse it as a hex number. So probably it's reading something else that does not look like a number. You could print `chunk_header` in `close()` and see what it's trying to parse.

[2022-03-22 17:06] wavesailor commented on #103
I tried to debug this further but have not had success.
I copied `adafruit_requests.py` to the `lib` folder on my MagTag but it does not seem to use the file as I put a slew of print statements in the code but none appear .... am I doing something wrong???

[2022-03-22 17:48] FoamyGuy commented on #103
`adafruit_requests` library is frozen into the build for MagTag: https://github.com/adafruit/circuitpython/blob/main/ports/espressif/boards/adafruit_magtag_2.9_grayscale/mpconfigboard.mk#L24

In order to test changes you'll need either A) a build without requests frozen in so that it will use the modified copy in `lib` or B) a build with your modified requests as the one that is frozen in.

Both o

[2022-03-22 17:54] anecdata commented on #103
I think putting the library in `/` should override the frozen library.

[2022-03-22 17:58] wavesailor commented on #103
@FoamyGuy Ahhh .... I was starting to pull my hair out
Yeah a custom build could would help - Option A would be preferable so I could edit `adafruit_requests`  myself.

or if you have one already then you could just test with this URL and see what is causing it to crash
https://docs.google.com/spreadsheets/d/e/2PACX1vTA8pXQodbEiz5idGT21YkL1Vy8waW0aAHM1uX7D4TqBq6DrUU8qXVlON1QVaWSlmoC3OBL4Iokyiyy/pu

[2022-03-22 18:02] FoamyGuy commented on #103
Turns out I was missing another (much nicer) option.

If you put your modified `adafruit_requests` in the root of the drive right next to `code.py` it should use that copy instead of the frozen one. So that would allow you to test modifications without needing the custom build.

I probably won't have time to test the URL on a reasonable timeline. Try with the library in the root of the drive. If i

[2022-03-22 18:11] wavesailor commented on #103
Okay I got it to read `adafruit_requests.py` but it does not work for `network.py` - any idea how to get that to work?

[2022-03-22 18:40] FoamyGuy commented on #103
You mean `network.py` from the `adafruit_magtag` library? I think you should be able to modify that and include your modified version in the root as well. you'd have these files in the root of your drive:
[code]
MagTag library is a folder instead of single file, but should work similarly.

[2022-03-22 19:13] wavesailor commented on #103
@FoamyGuy Thanks - I'll give that a try.

Trying to debug this issue, I find myself a little out of my depth. I can't understand why you would convert a string into bytes and then try convert it into an integer? To me it seems obvious that it will fail
[code]

[2022-03-22 19:49] anecdata commented on #103
The chunk header is a length specified as "hexadecimal number in ASCII":
https://en.wikipedia.org/wiki/Chunked_transfer_encoding#Format

[2022-03-22 20:32] wavesailor commented on #103
@anecdata  Thanks for that info.

Well I think this would then point to a problem elsewhere - because this is what is in the bytearray:
`bytearray(b'<HTML>\n<HEAD>\n<TITLE>Temporary Redirect</TITLE>\n</HEAD>\n<BODY BGCOLOR="#FFFFFF" TEXT="#000000">\n<H1>Temporary Redirect</H1>\nThe document has moved <A HREF="https://doc-0s-8o-sheets.googleusercontent.com/pub/70cmver1f290kjsnpar5ku2h9g/aq8d5fkt07h

[2022-03-23 00:24] anecdata commented on #103
It's possible that the chunked `307` response is malformed, but `curl` seems to skip the body:
[code]
so I'm not sure how to test that. But assuming that the `307` response is good, the issue seems to arise as `close` tries to drain the socket and throw away the content. I wonder if there's a way we can just skip that and start a new request and response.

Just putting in some debug messages into

[2022-03-24 17:10] wavesailor commented on #103
looking at micropython code here https://github.com/micropython/micropython-lib/blob/master/micropython/urllib.urequest/urllib/urequest.py I see the following that **redirects not yet supported**:
[code]

I don't know enough to understand everything but am trying to find the problem

[2022-03-24 17:47] anecdata commented on #103
Generally not, as-is. The core CircuitPython C code is forked from MicroPython but has some key changes in architecture in parts of the system. Adafruit CircuitPython libraries are often written from scratch, but also modified from MicroPython or other open source libraries. Comments in `adafruit_requests.py` indicate its origins were from MicroPython, but by now it has been modified extensively.

[2022-03-26 14:05] MarkTsengTW opened #104 "Clashes due to multiple Set-Cookie headers"
Hi, first time submitting an issue on Github so I hope this makes sense!

The function _parse_headers appears to handle multiple headers with the same name by successively overwriting them, leaving only the final header with that name.

I'm trying to read the headers from a requests.post() response where the response included two 'Set-Cookie' headers.

The headers are:
[code]

This works on standa

[2022-03-29 14:46] anecdata commented on #103
@wavesailor I use different apps for editing and serial console, but I don't think the actual choice of apps matters much, whatever works best for you.

[2022-03-29 16:32] tekktrik opened #106 "typing.Protocol requires Python 3.8+"
I haven't tested this, but since there is no alternative use of `typing_extensions.Protocol`, there many be issues where Blinka is running on 3,7 and cannot use this library, correct?

[2022-03-29 17:04] dhalbert commented on #106
`typing_extensions` is backported to 3.7, so as long as it gets imported at some point, it should be OK?

[2022-03-29 17:05] tekktrik commented on #106
Okay, I can work it in

[2022-03-29 17:06] dhalbert commented on #106
that is, you could try to import `Protocol` from typing, and if it fails, import it from `typing_extensions`. But you've seen that before, I'm pretty sure.

[2022-03-29 17:08] tekktrik commented on #106
Alright, I re-purposed #107 to solve this since it was just appeasing the formatter anyways!

[2022-03-29 18:27] #106 closed

[2022-04-01 14:55] MarkTsengTW commented on #104
After tea and meditation I have arrived at an answer.

The problematic area is:

[code]

The following works for my project:

[code]

It checks for an existing set-cookie header and, if one exists, appends the next cookie to the previous one, separated by a comma.

I do not know if this breaks other projects or other parts of the library. Another issue is that it does not behave the same way as re

[2022-04-02 04:50] askpatrickw commented on #104
@MarkTsengTW you seem to be doing a great job narrowing it down, do you have a suggested fix?

[2022-04-05 05:09] askpatrickw commented on #104
Best way to get feedback is to submit a PR so we can clearly see the diffs, make suggestions and give it a test run.

[2022-04-05 19:50] wavesailor commented on #103
I think this issues is somehow related: https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/104

I use his code and it half works now - I don't understand it all

[2022-04-05 19:59] tekktrik commented on #104
I was looking into this a little bit ago, and yeah, I agree comma separated is probably a good solution (and I think what CPython does as well).  The people that typically work on the core may have more information or thoughts, but since this library gets frozen into the firmware for a few boards, than my money is that a change to add cookies as a comma-separated string is going to use less memory

[2022-04-06 14:21] MarkTsengTW commented on #103
@wavesailor Glad you're making some progress. I'm working on a pull request for this but have already noticed a mistake in that code - the else block is indented one tab too far. That could be mangling your headers.

[2022-04-06 14:53] MarkTsengTW commented on #104
Thanks for the encouragement @askpatrickw and @tekktrik. I've made a pull request [here](https://github.com/MarkTsengTW/Adafruit_CircuitPython_Requests/pull/1) with an improved version of my code.

[2022-04-06 15:47] tekktrik commented on #104
Hey @MarkTsengTW, I followed up on your PR about submitting it the this repository, let us know if you have any questions!

[2022-04-07 00:08] wavesailor commented on #103
Thanks @MarkTsengTW  ... the funny thing is the code original code you put forward works first time around for me but the second time it causes an error.

You new updated code causes the same error the stock-standard  `adafruit_requests.py` gives me

I hoping that this information may help one of the really clever circuit python guys figure out the issue in `adafruit_requests.py`

[2022-04-07 00:46] MarkTsengTW commented on #103
@wavesailor I'm in stitches! That's hilarious. If it helps, I'm pretty sure the control flow in my original code was handling cookies correctly but deleting all other headers. Perhaps that's a clue to your problem.

[2022-04-18 15:21] FoamyGuy commented on #104
resolved by #108

[2022-04-18 15:21] #104 closed

[2022-04-28 15:52] syndat commented on #38
Hi, i tried the Hue-Example with a PyPortal!
Circuitpython 7.2.5 ESP Firmware 1.7.4 and lib from 20220426

i get this error before i can press the button on my hub:

Finding bridge address...
Attempting to register username, press the link button on your Hue Bridge now!
Traceback (most recent call last):
  File "<stdin>", line 51, in <module>
  File "adafruit_hue.py", line 123, in register_usernam

[2022-05-20 02:17] dhalbert opened #109 "Errors and very slow when using a simple node.js server"
https://forums.adafruit.com/viewtopic.php?f=60&t=189508, user jeremyamoore:

User is using the simple node.js server below. When I try with the simple client program, further down, fetching consecutively longer strings, requests gets stuck or runs very slowly after a few fetches.

### User node.js server
[code]
### Simple client I tried, running on a Metro M4 AirLift Lite
[code]

### I wrote a sim

[2022-05-20 18:41] tannewt commented on #109
How does it do with native sockets?

[2022-05-23 13:56] FoamyGuy commented on #109
I can try this today on ESP32-S2 based device.

[2022-05-23 15:43] FoamyGuy commented on #109
I tested on a Feather TFT ESP32-S2 and it ran for a while with seemingly no problems. It ran for several minutes and made it up past request `/400` seemed to receive the `x`s response pretty quickly and accurately each time.

I'll let it keep running and report if anything pops up. But so far it looks like this may be an issue for esp32spi only.

[2022-06-22 00:32] wavesailor commented on #103
Hi @dhalbert ,

I've been trying the latest versions but I'm still running into the same issue.

[code]

I downloaded and used these versions - Adafruit CircuitPython 7.3.0 on 2022-05-23; Adafruit MagTag with ESP32S2:
[code]

[2022-06-22 02:48] dhalbert commented on #103
Just to be clear, you replaced all copies of `adafruit_requests.mpy` or `.py` with the `.mpy` from the latest bundle? Make sure there is no `.py` version, and that there is no version in the top-level directory of CIRCUITPY.

[2022-06-24 00:01] klocs commented on #103
I've been looking into this issue too and I've been able to reproduce it on MagTag with CP 7.3.0 and on Blinka 8.0.2 both with  adafruit_requests.py 1.12.0. I've found a code change that appears to make it work (at least it doesn't error out) but I wasn't sure I found the real root cause.

So I set up a unit test in Adafruit_CircuitPython_Requests that mocks the call to Google servers and step thr

[2022-06-24 00:25] dhalbert commented on #103
Sorry, the fix I mentioned above was for ESP32SPI (AirLift), not for native ESP32-S2 wifi. I have been looking at several wifi issues and got them confused. The ESP32SPI error caused a chunking error in `adafruit_requests`, but that was higher up, and did not reflect an error I found in `adafruit_requests` specifically.

What is the code change you made to make it work?

[2022-06-24 17:16] klocs commented on #103
This change seems to work OK but I haven't done much testing and I'm not sure why `self._throw_away()` isn't working when the redirect includes a (big) chunked response body.

Note this is in `Response.close()`.

[code]

[2022-07-03 20:59] #103 closed

[2022-07-05 19:35] dhalbert commented on #103
@klocs Do you have any idea why your fix might not be working for @wavesailor?

[2022-07-05 20:28] klocs commented on #103
Let me take a look.

[2022-07-05 20:55] klocs commented on #103
@wavesailor @dhalbert I'm pretty sure the problem is that 7.3.1 has the older version of `adafruit_requests` frozen in and it was released 13 days ago. I confirmed this on my magtag with CircuitPython 7.3.1 and library bundle 20220704.

Until there is a new release of CP for MagTag, you can copy the `adafruit_requests.mpy` from **lib/** to the **root** directory (same directory as `code.py`). Make

[2022-07-05 23:10] wavesailor commented on #103
@klocs  Thank you!!!!
@dhalbert  It finally works.

I also didn't know that `adafruit_requests` is baked into CircuitPython. Do you have to even include it in the **lib/** folder then? What else is baked in?

[2022-07-05 23:31] klocs commented on #103
@wavesailor You can see what modules are included by typing `help("modules")` at the REPL prompt `>>>`.

[2022-07-06 01:51] dhalbert commented on #103
Ahh, thanks! I'd forgotten that `adafruit_requests` is frozen. @wavesailor just to be clear, the search order is:
[code]
So a frozen module overrides what is in `lib/`, but _not_ what is in the top-level directory.

[2022-07-08 23:52] scarolan commented on #62
I can confirm the same issue that @askpatrickw reported on a Qt Py ESP32-S3.

Moving the adafruit_requests.Session before the while loop fixed the issue for me.

[2022-08-06 01:23] tekktrik opened #113 "Move typing annotation definitions to `circuitpython_typing`"
This library may improve from having some of the type annotations reworked and checked, as well as moved to `circuitpython_typing`.  This might improve readability of the library.

[2022-08-06 01:29] dhalbert commented on #113
I have a branch where I started to do this: https://github.com/adafruit/Adafruit_CircuitPython_Requests/compare/main...dhalbert:Adafruit_CircuitPython_Requests:change-exceptions

[2022-08-06 22:31] izuk opened #114 ""RuntimeError: Sending request failed" for https URL"
Getting the above error:

[code]

I've seen this reported a few times, but I'm still not clear on which library, exactly, is failing and where to look for an update that fixes it.

Here's what `curl -v` reports for `flightstats.com`:

[code]

Is the problem the size of the certificate?  The encoding?  I wish I knew where to look.

[2022-08-08 16:27] tannewt commented on #114
I'd suggest starting with the requests library. There are a number of excepts here that may be catching the more relevant error: https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/main/adafruit_requests.py#L521-L541

[2022-09-08 21:44] anecdata commented on #62
A variety of other behaviors have been raised in this discussion, but @askpatrickw: is the original issue still open?

[2022-09-09 22:03] askpatrickw commented on #62
The original issue was cause by creating the `request` client (object) in the While loop.
Doing that before the while loop fixed it.

[2022-09-09 22:03] #62 closed

[2022-10-19 04:04] anecdata commented on #99
@rodneygmorgan I just tested this URL on a PyPortal, using Requests directly, with NINA v1.7.4 and it loaded fine. Closing. Please re-open if updating the NINA firmware doesn't solve it for you.

[2022-10-19 04:04] #99 closed

[2022-10-19 05:38] anecdata commented on #114
Added some print statements to Requests. It's failing [here](https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/a5d56f3e4866c8dbb343e03500355a42c46e557a/adafruit_requests.py#L539) with `OSError: Failed SSL handshake`. I'm running 7.3.3, which has the [updated](https://github.com/adafruit/circuitpython/pull/6097) certificates. It's possibly an issue with `TLSv1.2 / ECDHE-RSA-AES128-GC

[2022-10-25 02:18] tekktrik opened #116 "Wrong type annotation for headers"
Pretty sure `headers` is typed incorrectly as an argument in a few places - it's listed as a `List` but shouldn't be.

[2022-10-25 13:13] gustavomfb commented on #116
can you asign me this one?

[2022-10-25 13:31] tekktrik commented on #116
Sure thing!

[2022-10-26 15:27] dhalbert commented on #116
To link an issue, click on "Development" in the right sidebar, or use a phrase like "Fixes #nnn". See https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2022-10-26 15:30] gustavomfb commented on #116
Tks!!

[2022-10-26 15:38] #116 closed

[2022-11-11 11:47] ysiegel29 opened #120 "Issue with API request on PyPortal"
Hello,
I am trying to download a json from an API on a pyportal Titano, the response is around 11k and work no problem in my desktop python
I get a "sending request failed"
other api work, wifi connection is ok

I have updated firmware to 1.7.4
I have tried circuit python 7.3.3 and 8.0.0b
updating the lib accordingly

the API is "https://prim.iledefrance-mobilites.fr/marketplace/stop-monitoring?Mo

[2022-11-11 12:57] dhalbert commented on #120
That's a pretty large return value. Can you make a query to the same server with the same authentication that returns a much smaller result and see if it works?

[2022-11-11 13:31] ysiegel29 commented on #120
I have just tried without supplying the header, a browser or python code return `{'message': 'No API key found in request'}`

and the circuit python code (pasted below) still return `sending request failed`

The code is below.

Many thanks!

[code]

[2022-11-14 22:49] anecdata commented on #120
By adding some debug prints to requests... it's failing [here](https://github.com/adafruit/Adafruit_CircuitPython_Requests/blob/a5d56f3e4866c8dbb343e03500355a42c46e557a/adafruit_requests.py#L539) with `OSError: Failed to establish connection`. Different than the `` in #.

[2022-11-14 23:01] ysiegel29 commented on #120
Thanks for looking into it... I hope it can be solved!

[2022-11-14 23:06] anecdata commented on #120
Ah... trying this on ESP32-S2, it does indeed get the same `OSError: Failed SSL handshake` as the prior issue. It could be that `ECDHE-RSA-AES128-GCM-SHA256` is not supported, but I'm not sure.

[2022-11-14 23:20] anecdata commented on #120
Turning debug modes on doesn't yield anything useful, we just don't have access to the low-level handshake details currently from the NINA firmware.
[code]

[2022-11-17 07:39] ysiegel29 commented on #120
Thanks, do you think it can be/will be solved?
Beyond my weather station project with openweather my 2 other projects could not be completed due to the request lib.
First one was using google calendar and faced redirect issues, I understand they are solved now but went for raspberry pi at the time.
And now this one does not work either...
Thanks for your help!

[2022-11-28 20:48] corporatecoder opened #122 "AttributeError: 'NoneType' object has no attribute 'request'"
Tried running the following in REPL but it gave an error.
[code]

I looked at the adafruit_requests.py file and it appears that in line 735 `_default_session` is defined as `None`. Thus, when `_default_session.request("GET", url, **kw)` is called in line 809, this error arises. Am I wrong to use this library as I would with basic Python?

[2022-11-28 21:06] anecdata commented on #122
Is this `espressif`?

[code]

[2022-11-29 11:37] corporatecoder commented on #122
No I am using an RPi Pico W.

I figured it out. Thanks for the example code. A few notes on issues I ran into for those that may see this.
1.) Check that you specify an ssid and password. I'm new to microcontrollers and overlooked this.
2.) At first I thought secrets was a module and it is, but you actually save the connection information to a file called secrets.py and are importing it. See [here

[2022-11-29 11:37] #122 closed